# Static site generation with Pelican
pelican==4.5.0
Markdown==3.1.1

# Plugins
pelican-related-posts==1.0.0

# Automate various blog actions
invoke<1.5

# Code formatters and pre-commit checks
black==21.5b1
reorder-python-imports==2.5.0
pre-commit==2.9.2
