{% extends "page.html" %}



{% block content %}
<section class="position-relative mt-12 mb-32">

  <!-- Content -->
  <div class="container mx-auto px-4">

    <div class="flex flex-wrap -mx-4 mb-32">

      <div class="w-full px-4 md:w-1/2">

        <div class="w-md-75 mx-auto">
          <!-- Heading -->
          <h1 class="mt-32 text-3xl md:text-4xl font-light">
            <span class="d-block">daily.dev </span>
            <span class="d-block font-light">uses EthicalAds</span>
           </h1>

          <!-- Text -->
          <p class="font-size-lg">daily.dev is a community dedicated to discovering the best programming news</p>
        </div>
      </div>

      <div class="w-full px-4 md:w-1/2">

        <div class="w-50 mt-32 mx-auto text-center">
          <img class="mt-0 max-w-full h-auto mb-2" src="/images/pages/testimonials/dailydev.png" alt="daily.dev logo">
          <p class="h6 uppercase text-gray-500 mt-0 text-center">Developer community</p>
        </div>

      </div>

    </div> <!-- / .row -->

    <div class="flex flex-wrap -mx-4">
      <div class="w-full px-4 md:w-1/3 text-center border-right border-gray-300">

        <h6 class="uppercase text-gray-700 mb-1">Audience</h6>

        <div class="mb-12 mb-md-0">
          <p class="h1 mb-0 text-primary">100K</p>
          <p class="small">Weekly community members</p>
        </div>

      </div>
      <div class="w-full px-4 md:w-1/3 text-center border-right border-gray-300">

        <h6 class="uppercase text-gray-700 mb-1">Open Source</h6>

        <div class="mb-12 mb-md-0">
          <p class="h1 mb-0 text-primary">2,700</p>
          <p class="small">GitHub stars</p>
        </div>

      </div>
      <div class="w-full px-4 md:w-1/3 text-center">

        <h6 class="uppercase text-gray-700 mb-1">Amazing content</h6>

        <div class="mb-12 mb-md-0">
          <p class="h1 mb-0 text-primary">500</p>
          <p class="small">Unique sources</p>
        </div>

      </div>
    </div> <!-- /.row -->

  </div> <!-- / .container -->

</section>




<!-- About the Publisher -->
<!-- ================================================== -->
<section class="py-32 bg-gray-200">
  <div class="container mx-auto px-4">

    <div class="flex flex-wrap -mx-4">
      <div class="w-full px-4 md:w-1/2">

        <span class="badge badge-pill badge-primary-soft mb-2">
          <span class="h6 uppercase font-bold">Case study</span>
        </span>

        <!-- Heading -->
        <h2 class="font-bold">About daily.dev</h2>

        <!-- Text -->
        <p class="font-size-lg">
          daily.dev needed a way to fund their large developer community that could grow with them.
        </p>
        <p>
          daily.dev brings together 500 hand-picked news sources, which are ranked by their developer community to determine which is the best content each day.
          This content is categorized into 200 different tags,
          allowing users and advertisers alike to highly targeted content through the application.
        </p>
        <p>
          Through a partnership between EthicalAds, daily.dev has continued to invest in their product to produce new features.
          daily.dev is growing exponentialy,
          and has sustained that growth for the past year.
        </p>



      </div>
      <div class="w-full px-4 md:w-1/2">
        <div class="p-4 p-md-6 w-75 mx-auto">
          <img class="max-w-full h-auto" alt="daily.dev news feed" src="/images/pages/dailydev-screenshot.png">
        </div>
        <p class="small text-center"><a href="https://daily.dev">daily.dev</a> provides a curated feed of new content to thousands of developers each day, acting as their homepage on the internet.</p>
      </div>
    </div> <!-- / .row -->

  </div> <!-- / .container -->
</section>



<!-- Quote & CTA -->
<!-- ================================================== -->
<section class="py-32">
  <div class="container mx-auto px-4">

    <div class="mb-32 w-md-50 mx-auto">
      <blockquote class="blockquote mb-0 text-center">

        <!-- Text -->
        <p class="mb-12 mb-md-7">
          “EthicalAds allows us to target our advertising by topic, providing a better ad experience for our community members.”
        </p>

        <!-- Footer -->
        <footer class="blockquote-footer">
          <img src="/images/pages/dailydev-ido.jpg" class="w-25 rounded-full d-block mx-auto mb-4" alt="Ido Shamun" />
          <h5 class="bold">Ido Shamun</h5>
          <span>Co-founder & CTO of daily.dev</span>
        </footer>

      </blockquote>
    </div>

    <div class="text-center">
      <h2 class="text-center font-bold mb-24">Monetize your developer community like daily.dev</h2>
      <p class="text-center text-lg md:text-xl"></p>

      <a href="/publishers/#inbound-form" class="inline-block font-bold rounded transition-colors bg-primary hover:bg-primary-dark text-white px-4 py-2 lift">
        <span>Join our publisher network</span>
      </a>
    </div>
  </div>
</section>
{% endblock content %}
