{% extends "page.html" %}



{% block content %}
<section class="position-relative mt-12 mb-32">

  <!-- Content -->
  <div class="container mx-auto px-4">

    <div class="flex flex-wrap -mx-4 mb-32">

      <div class="w-full px-4 md:w-1/2">

        <div class="w-md-75 mx-auto">
          <!-- Heading -->
          <h1 class="mt-32 text-3xl md:text-4xl font-light">
            <span class="d-block">ESLint </span>
            <span class="d-block font-light">uses EthicalAds</span>
          </h1>

          <!-- Text -->
          <p class="font-size-lg">ESLint chose EthicalAds because of our commitment to transparency, privacy while <strong>making more money</strong> with us than other ad networks.</p>
        </div>
      </div>

      <div class="w-full px-4 md:w-1/2">

        <div class="w-100 mt-32 mx-auto text-center">
          <img class="mt-12 w-75 max-w-full h-auto mb-12" src="/theme/img/eslint.svg" alt="ESLint logo">
          <p class="h6 uppercase text-gray-500 mb-0 text-center">JavaScript static analyzer</p>
        </div>

      </div>

    </div> <!-- / .row -->

    <div class="flex flex-wrap -mx-4">
      <div class="w-full px-4 md:w-1/3 text-center">

        <h6 class="uppercase text-gray-700 mb-1">Audience</h6>

        <div class="mb-12 mb-md-0">
          <p class="h1 mb-0 text-primary">450k+</p>
          <p class="small">Monthly ad impressions</p>
        </div>

      </div>

      <div class="w-full px-4 md:w-1/3 text-center border-right border-gray-300">

        <h6 class="uppercase text-gray-700 mb-1">Widely Used</h6>

        <div class="mb-12 mb-md-0">
          <p class="h1 mb-0 text-primary">38M</p>
          <p class="small">Weekly downloads</p>
        </div>

      </div>
      <div class="w-full px-4 md:w-1/3 text-center border-right border-gray-300">

        <h6 class="uppercase text-gray-700 mb-1">Popular library</h6>

        <div class="mb-12 mb-md-0">
          <p class="h1 mb-0 text-primary">24.7k</p>
          <p class="small">GitHub stars</p>
        </div>

      </div>

    </div> <!-- /.row -->

  </div> <!-- / .container -->

</section>




<!-- About the Publisher -->
<!-- ================================================== -->
<section class="py-32 bg-gray-200">
  <div class="container mx-auto px-4">

    <div class="flex flex-wrap -mx-4">
      <div class="w-full px-4 md:w-1/2">

        <span class="badge badge-pill badge-primary-soft mb-2">
          <span class="h6 uppercase font-bold">Case study</span>
        </span>

        <!-- Heading -->
        <h2 class="font-bold">About ESLint</h2>

        <!-- Text -->
        <p>ESLint is a large, successful open source project used by hundreds of thousands of users and downloaded millions of times each month. Being widely used, however, doesn't by itself pay the bills or provide the funds needed to invest in the project.</p>

        <p>Combined with direct sponsorships, ESLint turned to EthicalAds to provide a little extra income. They particularly valued that EthicalAds itself is open source and the privacy aspect of not tracking users on their site and project documentation.</p>

      </div>
      <div class="w-full px-4 md:w-1/2 pt-32">
        <div class="p-4 p-md-6 w-75 mx-auto">
          <img class="max-w-full h-auto" alt="ESLint home page" src="/images/pages/testimonials/eslint-screenshot.png">
        </div>
        <p class="small text-center"><a href="https://eslint.org/">ESLint</a> is a static analyzer for JavaScript code.</p>
      </div>
    </div> <!-- / .row -->

  </div> <!-- / .container -->
</section>



<!-- Quote & CTA -->
<!-- ================================================== -->
<section class="py-32">
  <div class="container mx-auto px-4">

    <div class="mb-32 w-md-75 mx-auto">
      <blockquote class="blockquote mb-0 text-center">

        <!-- Text -->
        <p class="mb-12 mb-md-7">
          “Ethical Ads makes sense for open source projects like ESLint thanks to their commitment to displaying high-quality, relevant ads that <span class="font-bold">pay more than other ad systems</span>. Their commitment to privacy and transparency goes well with the spirit of open source, and we're glad to have the extra income to help pay for ongoing maintenance and development.”
        </p>

        <!-- Footer -->
        <footer class="blockquote-footer">
          <img src="/images/pages/testimonials/eslint-nickzakas.jpg" class="w-25 rounded-full d-block mx-auto mb-4" alt="Nicholas C. Zakas" />
          <h5 class="bold">Nicholas C. Zakas</h5>
          <span>ESLint creator</span>
        </footer>

      </blockquote>
    </div>

    <div class="text-center">
      <h2 class="text-center font-bold mb-24">Monetize your open source project like ESLint</h2>
      <p class="text-center text-lg md:text-xl"></p>

      <a href="/publishers/#inbound-form" class="inline-block font-bold rounded transition-colors bg-primary hover:bg-primary-dark text-white px-4 py-2 lift">
        <span>Join our publisher network</span>
      </a>
    </div>
  </div>
</section>
{% endblock content %}
