{% extends "page.html" %}



{% block content %}
<section class="position-relative mt-12 mb-32">

  <!-- Content -->
  <div class="container mx-auto px-4">

    <div class="flex flex-wrap -mx-4 mb-32">

      <div class="w-full px-4 md:w-1/2">

        <div class="w-md-75 mx-auto">
          <!-- Heading -->
          <h1 class="mt-32 text-3xl md:text-4xl font-light">
            <span class="d-block">Read the Docs </span>
            <span class="d-block font-light">uses EthicalAds</span>
           </h1>

          <!-- Text -->
          <p class="font-size-lg">Read the Docs built a sustainable open source documentation platform funded primarily by ethical advertising.</p>
        </div>
      </div>

      <div class="w-full px-4 md:w-1/2">

        <div class="w-75 mt-32 mx-auto text-center">
          <img class="mt-12 max-w-full h-auto mb-12" src="/images/pages/testimonials/readthedocs-wordmark-dark.svg" alt="Read the Docs logo">
          <p class="h6 uppercase text-gray-500 mb-0 text-center">Documentation automation platform</p>
        </div>

      </div>

    </div> <!-- / .row -->

    <div class="flex flex-wrap -mx-4">
      <div class="w-full px-4 md:w-1/3 text-center border-right border-gray-300">

        <h6 class="uppercase text-gray-700 mb-1">Audience</h6>

        <div class="mb-12 mb-md-0">
          <p class="h1 mb-0 text-primary">10M</p>
          <p class="small">Unique monthly visitors</p>
        </div>

      </div>
      <div class="w-full px-4 md:w-1/3 text-center border-right border-gray-300">

        <h6 class="uppercase text-gray-700 mb-1">Hosting</h6>

        <div class="mb-12 mb-md-0">
          <p class="h1 mb-0 text-primary">200k</p>
          <p class="small">Documentation projects</p>
        </div>

      </div>
      <div class="w-full px-4 md:w-1/3 text-center">

        <h6 class="uppercase text-gray-700 mb-1">Users</h6>

        <div class="mb-12 mb-md-0">
          <p class="h1 mb-0 text-primary">400k</p>
          <p class="small">User accounts</p>
        </div>

      </div>
    </div> <!-- /.row -->

  </div> <!-- / .container -->

</section>




<!-- About the Publisher -->
<!-- ================================================== -->
<section class="py-32 bg-gray-200">
  <div class="container mx-auto px-4">

    <div class="flex flex-wrap -mx-4">
      <div class="w-full px-4 md:w-1/2">

        <span class="badge badge-pill badge-primary-soft mb-2">
          <span class="h6 uppercase font-bold">Case study</span>
        </span>

        <!-- Heading -->
        <h2 class="font-bold">About Read the Docs</h2>

        <!-- Text -->
        <p class="font-size-lg">Read the Docs needed a solution to monetize a large user base but wasn't willing to compromise on privacy.</p>


        <p>EthicalAds was built specifically for Read the Docs. We are the same company after all. We knew that advertising would help us provide better service, but we also knew our users didn't want third-party tracking from a large ad network.</p>

        <p>Read the Docs had a huge audience but suffered a common problem open source projects have: a lack of revenue. A service that millions depended on was operated by volunteers wearing pagers at their day jobs. The revenue from advertising with EthicalAds allowed us to have a small team of developers work on it full-time without any outside funding.</p>

        <p>After solving our own sustainability problems, we wanted to bring EthicalAds to a wider audience and help solve sustainability issues for all developers.</p>

      </div>
      <div class="w-full px-4 md:w-1/2">
        <div class="p-4 p-md-6 w-75 mx-auto">
          <img class="max-w-full h-auto" alt="Read the Docs documentation site" src="/images/pages/testimonials/readthedocs-screenshot.png">
        </div>
        <p class="small text-center"><a href="https://readthedocs.org">Read the Docs</a> hosts technical documentation for open source projects and provides a continuous integration solution to build documentation from source control on every commit.</p>
      </div>
    </div> <!-- / .row -->

  </div> <!-- / .container -->
</section>



<!-- Quote & CTA -->
<!-- ================================================== -->
<section class="py-32">
  <div class="container mx-auto px-4">

    <div class="mb-32 w-md-50 mx-auto">
      <blockquote class="blockquote mb-0 text-center">

        <!-- Text -->
        <p class="mb-12 mb-md-7">
          “EthicalAds turned Read the Docs from a project struggling for funding into a sustainable open source success story.”
        </p>

        <!-- Footer -->
        <footer class="blockquote-footer">
          <img src="/images/pages/team-eric.png" class="w-25 rounded-full d-block mx-auto mb-4" alt="Eric Holscher" />
          <h5 class="bold">Eric Holscher</h5>
          <span>Co-founder of Read the Docs</span>
        </footer>

      </blockquote>
    </div>

    <div class="text-center">
      <h2 class="text-center font-bold mb-24">Monetize your open source project like Read the Docs</h2>
      <p class="text-center text-lg md:text-xl"></p>

      <a href="/publishers/#inbound-form" class="inline-block font-bold rounded transition-colors bg-primary hover:bg-primary-dark text-white px-4 py-2 lift">
        <span>Join our publisher network</span>
      </a>
    </div>
  </div>
</section>
{% endblock content %}
