{% extends "page.html" %}



{% block content %}
<section class="position-relative mt-12 mb-32">

  <!-- Content -->
  <div class="container mx-auto px-4">

    <div class="flex flex-wrap -mx-4 mb-32">

      <div class="w-full px-4 md:w-1/2">

        <div class="w-md-75 mx-auto">
          <!-- Heading -->
          <h1 class="mt-32 text-3xl md:text-4xl font-light">
            <span class="d-block">RoutineHub </span>
            <span class="d-block font-light">uses EthicalAds</span>
          </h1>

          <!-- Text -->
          <p class="font-size-lg">RoutineHub keeps the lights on with EthicalAds and was able to expand when a large traffic spike came with the latest iOS upgrade.</p>
        </div>
      </div>

      <div class="w-full px-4 md:w-1/2">

        <div class="w-50 mt-32 mx-auto text-center">
          <img class="mt-12 max-w-full h-auto mb-12" src="/images/pages/testimonials/routinehub-icon.png" alt="RoutineHub logo">
          <p class="h6 uppercase text-gray-500 mb-0 text-center">iOS task automation</p>
        </div>

      </div>

    </div> <!-- / .row -->

    <div class="flex flex-wrap -mx-4">
      <div class="w-full px-4 md:w-1/3 text-center border-right border-gray-300">

        <h6 class="uppercase text-gray-700 mb-1">Shortcuts</h6>

        <div class="mb-12 mb-md-0">
          <p class="h1 mb-0 text-primary">4.5k</p>
          <p class="small">Unique shortcuts</p>
        </div>

      </div>
      <div class="w-full px-4 md:w-1/3 text-center border-right border-gray-300">

        <h6 class="uppercase text-gray-700 mb-1">Engaged</h6>

        <div class="mb-12 mb-md-0">
          <p class="h1 mb-0 text-primary">2:45</p>
          <p class="small">Average time on site</p>
        </div>

      </div>
      <div class="w-full px-4 md:w-1/3 text-center">

        <h6 class="uppercase text-gray-700 mb-1">Users</h6>

        <div class="mb-12 mb-md-0">
          <p class="h1 mb-0 text-primary">1.2M</p>
          <p class="small">Monthly pageviews</p>
        </div>

      </div>
    </div> <!-- /.row -->

  </div> <!-- / .container -->

</section>




<!-- About the Publisher -->
<!-- ================================================== -->
<section class="py-32 bg-gray-200">
  <div class="container mx-auto px-4">

    <div class="flex flex-wrap -mx-4">
      <div class="w-full px-4 md:w-1/2">

        <span class="badge badge-pill badge-primary-soft mb-2">
          <span class="h6 uppercase font-bold">Case study</span>
        </span>

        <!-- Heading -->
        <h2 class="font-bold">About RoutineHub</h2>

        <!-- Text -->
        <p>Keeping a site running isn't free, especially as it grows in popularity. Adding paid ads to a site works, but RoutineHub didn't want to sell the data of their trusting users. They tried to keep things running by working directly with sponsors, but that was a full-time job and barely paid the hosting bills.</p>

        <p>RoutineHub found EthicalAds and at the perfect time too. The week after they started using EthicalAds, RoutineHub's traffic grew five-fold. Without the ad revenue during this time, there would have been no way to migrate the site to new servers in order to keep it running smoothly.</p>

        <p>Now RoutineHub is turning a profit which will help grow their community, while continuing to keep the community's personal data safe.</p>

      </div>
      <div class="w-full px-4 md:w-1/2">
        <div class="p-4 p-md-6 w-75 mx-auto">
          <img class="max-w-full h-auto" alt="RoutineHub home page" src="/images/pages/testimonials/routinehub-screenshot.png">
        </div>
        <p class="small text-center"><a href="https://routinehub.co/">RoutineHub</a> is a community for sharing Siri Shortcuts with other iOS users.</p>
      </div>
    </div> <!-- / .row -->

  </div> <!-- / .container -->
</section>



<!-- Quote & CTA -->
<!-- ================================================== -->
<section class="py-32">
  <div class="container mx-auto px-4">

    <div class="mb-32 w-md-50 mx-auto">
      <blockquote class="blockquote mb-0 text-center">

        <!-- Text -->
        <p class="mb-12 mb-md-7">
          “If I hadn't have had ad revenue during this time, there would have been no way for me to migrate the site to new servers in order to keep the site running smoothly.”
        </p>

        <!-- Footer -->
        <footer class="blockquote-footer">
          <img src="/images/pages/testimonials/routinehub-harleyhicks.jpg" class="w-25 rounded-full d-block mx-auto mb-4" alt="Harley Hicks" />
          <h5 class="bold">Harley Hicks</h5>
          <span>Founder of RoutineHub</span>
        </footer>

      </blockquote>
    </div>

    <div class="text-center">
      <h2 class="text-center font-bold mb-24">Monetize your community project like RoutineHub</h2>
      <p class="text-center text-lg md:text-xl"></p>

      <a href="/publishers/#inbound-form" class="inline-block font-bold rounded transition-colors bg-primary hover:bg-primary-dark text-white px-4 py-2 lift">
        <span>Join our publisher network</span>
      </a>
    </div>
  </div>
</section>
{% endblock content %}
