<!-- SHAPE
================================================== -->
<div class="position-relative">
  <div class="shape shape-bottom shape-fluid-x svg-shim text-dark">
    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
  </div>
</div>

<!-- CTA
================================================== -->
<section class="pt-6 pt-md-8 bg-dark text-light">
  <div class="container pb-6 pb-md-8 border-bottom border-gray-300">
    <div class="row">
      <div class="col-12 col-md">

        <!-- Heading -->
        <h3 class="mb-1 font-weight-bold">Get our stories delivered</h3>

        <!-- Text -->
        <p class="text-muted mb-6 mb-md-0">Want more privacy-focused advertising updates in your inbox?</p>

      </div>
      <div class="col-12 col-md-5">

        <!-- Form -->
        <form class="validate" action="https://ethicalads.us17.list-manage.com/subscribe/post?u=ca5e74de3ea2867d373058271&amp;id=5746f18bb8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
          <div class="row">
            <div class="col">
              <input type="email" class="form-control-sm required" name="EMAIL" id="mce-EMAIL" placeholder="you@domain.com" required>
              <div class="d-none" aria-hidden="true"><input type="text" name="b_ca5e74de3ea2867d373058271_5746f18bb8" tabindex="-1" value=""></div>
            </div>
            <div class="col-auto ml-n5">
              <!-- Button -->
              <button class="btn btn-sm btn-primary" type="submit">Subscribe</button>
            </div>
          </div> <!-- / .row -->
          <div class="row">
            <div class="col">
              <small class="form-text text-muted">Your email, after you confirm it, will be stored with Mailchimp who handles this newsletter</small>
            </div>
          </div>
        </form>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>
