<footer class="container">
  <hr>
  <div>
    <ul class="list-inline">
      <li class="list-inline-item small">&copy; 2020 Read the Docs, Inc.</li>
      <li class="list-inline-item small"><a href="https://readthedocs.org">Read the Docs</a></li>
      <li class="list-inline-item small"><a href="https://readthedocs.org/sustainability/advertising/">Advertising</a></li>
      <li class="list-inline-item small"><a href="/privacy-policy/">Privacy Policy</a></li>
      <li class="list-inline-item small"><a href="/publisher-policy/">Publisher Policy</a></li>
      <li class="list-inline-item float-right small"><a href="https://server.ethicalads.io">Login</a></li>
    </ul>
  </div>
</footer>
