<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">

    <!-- Brand -->
    <a class="navbar-brand" href="/">
      <img src="/theme/img/ethicalads-logo-blue.svg" class="navbar-brand-img" alt="EthicalAds">
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-close"></span>
      </button>


      <!-- Navigation -->
      <ul class="navbar-nav ml-auto">

        {% if DISPLAY_PAGES_ON_MENU %}
          {% for p in pages %}
            <li class="nav-item">
              <a class="nav-link {% if p == page %}active{% endif %}" href="/{{ p.url }}">{{ p.title }} {% if p == page %}<span class="sr-only">(current)</span>{% endif %}</a>
            </li>
          {% endfor %}
        {% endif %}

        {% if DISPLAY_CATEGORIES_ON_MENU %}
          {% for cat, null in categories %}
            <li class="nav-item">
              <a class="nav-link {% if cat == category %}active{% endif %}" href="/{{ cat.url }}">{{ cat }} {% if cat == category %}<span class="sr-only">(current)</span>{% endif %}</a>
            </li>
          {% endfor %}
        {% endif %}

        {% for title, link in MENUITEMS %}
          <li class="nav-item">
            <a class="nav-link mr-md-2" href="{{ link }}">{{ title }}</a>
          </li>
        {% endfor %}


      </ul>

      <ul class="navbar-nav ml-auto">

        <!--{% for title, link in MENUITEMS_RIGHT %}
          <li class="nav-item">
            <a class="nav-link" href="{{ link }}">{{ title }}</a>
          </li>
        {% endfor %}-->

        {% for title, link in MENUITEMS_CTA %}
          <li class="nav-item lift">
            <a class="nav-item btn btn-outline-primary" href="{{ link }}">{{ title }}</a>
          </li>
        {% endfor %}

      </ul>

    </div>

  </div>
</nav>
