td span.rotate-60-left, th span.rotate-60-left {
  display: inline-block;
  transform: rotate(-60deg);
}

td span.rotate-90-left, th span.rotate-90-left {
  display: inline-block;
  transform: rotate(-90deg);
}
