body {
  background-color: $gray-100;
}
.jumbotron {
  border-radius: 0;
  color: $gray-100;
  text-align: center;
  height: $jumbotron-height;
  padding: 0;

  background: linear-gradient(to bottom, rgba($primary, 0.85), rgba($primary, 0.85)), url("../img/background.jpg") center / cover no-repeat;

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: $font-weight-light;
  }

  form {
    justify-content: center;
    margin-top: 2.5rem;
  }
}
