// Paths where Landkit looks for things
$path-to-fonts: "../landkit/fonts";
$path-to-img: "../landkit/img";

// Use the built-in fonts rather than a proprietary one
$font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;

// EthicalAds blue
$primary: #2c82b9;

// Landkit has a *very light* border around input boxes
// It's a little too light to break it up visually from the rest of the content
$input-border-color: $gray-400;
