{% extends "page.html" %}



{% block content %}
<section class="position-relative mt-5 mb-10">

  <!-- Content -->
  <div class="container">
    <div class="row align-items-center text-center text-md-left">
      <div class="col-12 col-md-6">

        <!-- Image -->
        <img src="/theme/img/landing-pages/opensource.jpg" alt="Library of open source" class="img-fluid mw-100 float-right mb-6 mb-md-0" data-aos="fade-right">
        <p class="small text-muted">
          <em>
          Photo by <a href="https://unsplash.com/@jbsinger1970?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Jonathan Singer</a> on <a href="https://unsplash.com/s/photos/library?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
          </em>
        </p>

      </div>
      <div class="col-12 col-md-6">

        <!-- Heading -->
        <h1 class="display-3 font-weight-light" data-aos="fade-left">A transparent and open source ad network</h1>

        <!-- Text -->
        <p class="font-size-lg" data-aos="fade-left" data-aos-delay="200">Funding for your open source project through an open source ad network without tracking or surveillance</p>

        <a href="#inbound-form" class="btn btn-primary lift" data-aos="fade-left" data-aos-delay="200">
          <span>Join our network</span>
        </a>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->

</section>


<!-- Marketing messaging and featurettes
================================================== -->
<section class="py-10">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 mb-5 mb-md-0 text-center" data-aos="fade-up">

        <!-- Icon -->
        <div class="icon text-primary mb-3">
          <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path d="M14.293 16.707a1 1 0 011.414-1.414l4 4a1 1 0 01-1.414 1.414l-4-4z" fill="#335EEA" opacity=".3"></path><path d="M11 16a5 5 0 100-10 5 5 0 000 10zm0 2a7 7 0 110-14 7 7 0 010 14z" fill="#335EEA"></path></g></svg>
        </div>

        <!-- Heading -->
        <h3>Transparent and Open</h3>

        <!-- Text -->
        <p class="text-gray-800 mb-6 mb-md-0">The code behind most other ad networks is proprietary and complex. Instead, we are completely transparent in how our advertising works.</p>

      </div>
      <div class="col-12 col-md-4 mb-5 mb-md-0 text-center" data-aos="fade-up" data-aos-delay="50">

        <!-- Icon -->
        <div class="icon text-primary mb-3">
          <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path fill="#335EEA" opacity=".3" d="M12 20.66l-2.536-.025-2.146-1.35-2.12-1.391-1.075-2.297-1.031-2.316.336-2.513.385-2.507L5.455 6.33l1.68-1.9L9.56 3.69 12 3l2.44.69 2.426.739 1.679 1.9 1.642 1.932.385 2.507.336 2.513-1.03 2.316-1.076 2.297-2.12 1.391-2.146 1.35z"></path><circle fill="#335EEA" opacity=".3" cx="8.5" cy="13.5" r="1.5"></circle><circle fill="#335EEA" opacity=".3" cx="13.5" cy="7.5" r="1.5"></circle><circle fill="#335EEA" opacity=".3" cx="14.5" cy="15.5" r="1.5"></circle></g></svg>
        </div>

        <!-- Heading -->
        <h3>No Cookies</h3>

        <!-- Text -->
        <p class="text-gray-800 mb-6 mb-md-0">We don't use cookies to track users, but we match ads based on the content of your site. This gives your users <strong>ultimate privacy and relevant ads</strong>, the best of both worlds.</p>

      </div>
      <div class="col-12 col-md-4 mb-5 mb-md-0 text-center" data-aos="fade-up" data-aos-delay="100">

        <!-- Icon -->
        <div class="icon text-primary mb-3">
          <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path d="M13 18.945V20h1a2 2 0 012 2H8a2 2 0 012-2h1v-1.055a8.972 8.972 0 01-5.206-2.427l-1.055 1.156a1 1 0 01-1.478-1.348l1.788-1.959a1 1 0 011.515.044 7 7 0 109.557-10.07 1 1 0 111.18-1.615 9.001 9.001 0 01-4.3 16.22z" fill="#335EEA"></path><circle fill="#335EEA" opacity=".3" cx="12" cy="10" r="6"></circle></g></svg>
        </div>

        <!-- Heading -->
        <h3>Invested in Open Source</h3>

        <!-- Text -->
        <p class="text-gray-800 mb-0">EthicalAds is itself open source software. We're the only open source ad network on the market. And we're growing.</p>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>


<!-- Social proof -->
<!-- ================================================== -->
<section class="container py-10">
  <div class="row">
    <div class="col mb-3">
      <h2 class="text-center font-weight-bold mb-8">Open source projects use EthicalAds</h2>
      <p class="text-center lead">
        EthicalAds came from our work monetizing Read the Docs, an open source documentation building and hosting platform.
        We wanted an <strong>open, transparent ad network</strong> that respected privacy,
        but there wasn't an ad network out there willing to work with us on those terms (we looked).
        Instead, we built our own and it's used by lots of open source projects and sites.
      </p>
      {% include 'ea/includes/python-icons.html' %}
    </div>
  </div>
</section>


<!-- FAQ -->
<!-- ================================================== -->
{% include 'ea/includes/landing-faq.html' %}



<!-- Inbound form -->
<!-- ================================================== -->
{% include 'ea/includes/publishers-inbound.html' %}

{% endblock content %}
