{% extends "page.html" %}


{% block content %}
<section class="py-8 py-md-11 border-bottom">
  <div class="container">
    <div class="row justify-content-center mb-10">
      <div class="col-12 col-md-10 col-lg-8 text-center">

        <!-- Headin -->
        <h1 class="display-2">About Us</h1>

        <!-- Text -->
        <p class="lead mb-7 mb-md-9">We believe that advertising can be effective without compromising privacy. At EthicalAds, our goal is to build an ad network that works for advertisers and helps sustain open source.</p>

      </div>
    </div> <!-- / .row -->
    <div class="row mb-10">
      <div class="col-12">

        <!-- Image -->
        <div class="form-row">

{#           <div class="col-12 col-md-6 mb-5 mb-md-0 text-center">

            <img src="/images/pages/offsite-2019.jpg" class="w-75 img-fluid rounded shadow-lg" alt="The team at our 2018 offsite">

          </div>
 #}

          <div class="col-12 col-md-6">

            <h2>Fully-owned by our founders</h2>

            <p>
              Our core mission is to build an ad network that doesn't track you.
              We haven't raised any outside funding
              and are fully aligned with our network of publishers and advertisers.
              We operate one of the biggest publishers on our network
              and <strong>we will never put profits over privacy</strong>.
            </p>
            <p>Read more about our <a href="/advertising-vision/">vision for ethical advertising</a>.</p>
          </div>

          <div class="col-12 col-md-6">

            <h2>Small Team. Big Impact.</h2>

            <p>
              EthicalAds was built to sustain development of Read the Docs, an open source documentation platform. Advertising was the natural model because it scaled up well as our platform grew. However, we wanted to do ads right without tracking users or having security issues with third-party scripts.
            </p>
            <p>Since no existing ad networks would partner with us on privacy-respecting ads, we built our own.</p>

          </div>
        </div>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>

<!-- People -->
<section class="container py-5">

  <h2 class="text-center mb-5">Meet the ads team</h2>

  <div class="row mb-5">
    <div class="col-12 col-md-6 mb-5 px-md-10">
      <div class="text-center mb-3">
        <img src="/images/pages/team-eric.jpg" class="w-50" alt="Eric Holscher" />
      </div>
      <h3 class="text-center font-weight-bold">Eric Holscher</h3>
      <p>Eric cofounded Read the Docs and took it from a hackathon project in 2010 to full-time in 2014. Experimenting with funding models led him to create EthicalAds to make Read the Docs sustainable and now he wants to bring that to the wider open source community. He previously worked at Urban Airship and the Lawrence Journal-World, the home of the Django web framework.</p>
    </div>
    <div class="col-12 col-md-6 mb-5 px-md-10">
      <div class="text-center mb-3">
        <img src="/images/pages/team-david.jpg" class="w-50" alt="David Fischer" />
      </div>
      <h3 class="text-center font-weight-bold">David Fischer</h3>
      <p>David joined Read the Docs back in 2017 to work on security, privacy, and to build EthicalAds. He saw the importance of ethical advertising and joined the team to help take the approach from a single site to a larger network that supported the open source ecosystem. Previously David worked on security at Qualcomm and Amazon before being director of technology at TapHunter.</p>
    </div>
  </div>
</section>
{% endblock content %}
