{% extends "page.html" %}


{% block content %}

<section class="position-relative mt-5 mb-10">

  <!-- Content -->
  <div class="container">
    <div class="row align-items-center text-center text-md-left">
      <div class="col-12 col-md-6">

        <!-- Image -->
        <div class="img-skewed img-skewed-right">
          <img src="/theme/img/advertiser-reporting-overview.png" alt="Reporting screenshot showing advertiser overview" class="screenshot img-fluid img-skewed-item" data-aos="fade-right">
        </div>

      </div>
      <div class="col-12 col-md-6">

        <!-- Heading -->
        <h1 class="display-3 font-weight-light" data-aos="fade-left">Detailed &amp; Transparent Reporting</h1>

        <!-- Text -->
        <p class="font-size-lg" data-aos="fade-left" data-aos-delay="200">Our easy-to-use reporting gives you the tools to get the most out of your campaigns</p>

        <a href="#inbound-form" class="btn btn-primary lift" data-aos="fade-left" data-aos-delay="200">
          <span>Start a campaign</span>
        </a>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->

</section>


<section class="py-10">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-12 col-md-4 text-center" data-aos="fade-up" data-aos-delay="100">

        <!-- Icon -->
        <div class="icon text-primary mb-3">
          <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><rect fill="#335EEA" opacity=".3" x="12" y="4" width="3" height="13" rx="1.5"></rect><rect fill="#335EEA" opacity=".3" x="7" y="9" width="3" height="8" rx="1.5"></rect><path d="M5 19h15a1 1 0 010 2H4a1 1 0 01-1-1V4a1 1 0 112 0v15z" fill="#335EEA"></path><rect fill="#335EEA" opacity=".3" x="17" y="11" width="3" height="6" rx="1.5"></rect></g></svg>
        </div>

        <!-- Heading -->
        <h3>Detailed performance</h3>

        <!-- Text -->
        <p class="text-gray-800 mb-0">With performance broken down by day, campaign, ad, region, and publisher, you have many ways to split test and optimize your campaigns.</p>

      </div>

      <div class="col-12 col-md-4 text-center" data-aos="fade-up" data-aos-delay="50">

        <!-- Icon -->
        <div class="icon text-primary mb-3">
          <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path d="M4 4l7.631-1.43a2 2 0 01.738 0L20 4v9.283a8.51 8.51 0 01-4 7.217l-3.47 2.169a1 1 0 01-1.06 0L8 20.5a8.51 8.51 0 01-4-7.217V4z" fill="#335EEA" opacity=".3"></path><path fill="#335EEA" opacity=".3" d="M11.333 18L16 11.4h-2.333V7L9 13.6h2.333z"></path></g></svg>
        </div>

        <!-- Heading -->
        <h3>Transparency</h3>

        <!-- Text -->
        <p class="text-gray-800 mb-6 mb-md-0">Our transparent reports detail exactly <strong>when and where</strong> your ads are shown: both geographically and on which publishers on our network.</p>

      </div>

    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>


<!-- Product overview: video embed
================================================== -->
<section class="py-10" id="video-overview">
  <div class="container">

    <!-- <h2 class="text-center font-weight-bold mb-8">Reporting overview</h2>
    <p class="text-center lead">See our reporting in action.</p> -->

    <div class="row justify-content-center">

      <!-- Frontend web -->
      <div class="col-12 col-md-8 text-center">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/lAhhxhyJY28" title="EthicalAds reporting overview - YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>

    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>


<!-- Mini-FAQ for Reporting -->
<!-- ================================================== -->
<section class="py-10">
  <div class="container">
    <h2 class="font-weight-bold mb-8">Have more reporting questions? We have answers.</h2>
    <div class="row mb-5">

      <div class="col-md-6">
        <h4 class="font-weight-bold">How are conversions tracked?</h4>
        <p>Track conversions using your existing conversion tracking mechanism such as analytics and rely on UTM or other parameters added to your ad destination link.</p>
      </div>

      <div class="col-12 col-md-6 mb-3">
        <h4 class="font-weight-bold">Can I export my reports?</h4>
        <p>All our reports can be exported to a spreadsheet and we have a reporting API for complex integrations.</p>
      </div>

    </div>

    <p class="mt-6 text-center">
        Have more questions? Our <a href="/advertisers/faq/">Advertiser FAQ</a> has more answers!
    </p>
  </div>
</section>


<!-- Inbound form -->
<!-- ================================================== -->
{% include 'ea/includes/advertisers-inbound.html' %}
{% endblock %}
