{% extends "page.html" %}


{% block head %}
{{ super() }}

{# Ad Client #}
<script async src="https://media.ethicalads.io/media/client/ethicalads.min.js"></script>
{% endblock head %}


{% block content %}
<section class="jumbotron d-flex flex-column justify-content-center">
  <div class="container">
    <h1>Reach millions of engaged developers</h1>
    <h2>Get in front of a technical audience across an ecosystem of software-focused content</h2>

    <a href="#inbound-form" class="btn btn-warning shadow-none mt-4">Start a campaign</a>
  </div>
</section>



<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<section class="container marketing py-5">

  <!-- Three columns of text below the carousel -->
  <div class="row">

    <!-- REACH -->
    <div class="col-md-4 mb-3">
      <div class="text-center">
        <span class="text-primary fa fa-bullhorn fa-5x"></span>
      </div>

      <h4 class="text-center text-primary">Reach</h4>
      <p class="text-center w-75 mx-auto">With reach to over <strong>35 million developer impressions</strong> each month, we are an ad network for developers by developers.</p>
    </div><!-- /.col-md-4 -->

    <!-- RELEVANT -->
    <div class="col-md-4 mb-3">
      <div class="text-center">
        <span class="text-primary fa fa-bullseye fa-5x"></span>
      </div>

      <h4 class="text-center text-primary">Relevance</h4>
      <p class="text-center w-75 mx-auto">Every publisher is hand-approved to ensure that every ad is <strong>relevant and interesting</strong> and our audience remains 100% developers.</p>
    </div><!-- /.col-md-4 -->

    <!-- TASTEFUL -->
    <div class="col-md-4 mb-3">
      <div class="text-center">
        <span class="text-primary fa fa-heart-o fa-5x"></span>
      </div>

      <h4 class="text-center text-primary">Respect</h4>
      <p class="text-center w-75 mx-auto">We believe ethical advertising works for advertisers. We provide <strong>full reporting and data export</strong> so you can validate the results yourself.</p>
    </div><!-- /.col-md-4 -->
  </div><!-- /.row -->

</section><!-- /.container -->

<!-- Social proof -->
<!-- ================================================== -->
<section class="container py-5">
  <div class="row">
    <div class="col mb-3">
      <h4 class="text-center text-primary">Over 1 billion ads served since 2016</h4>
      <p class="text-center lead">
        <strong>Advertisers</strong> have success by targeting developers on the sites they frequent, without being blocked.
      </p>

    </div>
  </div>
</section>

<!-- Sign up promos -->
<!-- ================================================== -->
<section class="container py-5">
  <div class="row">
    <div class="col-md-6 mb-3">
      <h4>Developers read our sites</h4>
      <p class="lead">
        Developers read our sites to solve their problems. Your company could be the solution they are looking for. By putting your advertisement in front of our audience, you can connect to your target market and achieve your business goals.
      </p>
    </div>
    <div class="col-md-6">
      <h4>How do I get started?</h4>
      <p class="lead">
        You can see all our advertising information in our <a href="http://media.ethicalads.io/media/EthicalAds%20Advertising%20Prospectus%20Q3%202020.pdf">prospectus</a>.
        Once you read through that,
        you can fill out our <a href="#inbound-form">advertiser signup</a> form to start the process.
      </p>
    </div>
  </div>
</section>



<!-- Sample Ad -->
<!-- ================================================== -->
<section class="container py-5">
  <div class="row">
    <div class="col-md-6 mb-3">
      <h4>Get in front of our developer audience</h4>
      <p class="lead">When you run a campaign with us, your ad only appears on developer-focused websites. This drives your business results while supporting developers directly.</p>
    </div>
    <div class="col-md-6">
      <div class="text-center">
        <div data-ea-publisher="ethicaladsio" data-ea-type="image"></div>
      </div>
      <p class="small text-muted text-center">(This is a real ad from our network)</p>
    </div>
  </div>

</section>

<section class="inbound-form py-5" id="inbound-form">
  <div class="container">
    <div class="form-container">
      <h4>Advertise across our network</h4>
      <p>Start growing your business with our network today.</p>

      <!-- Front - Advertiser Inquiry Form -->
      <form
        method="POST"
        name="fa-form-1"
        action="https://webhook.frontapp.com/forms/036c4169294f3b04abaa/Kj948M2jCSE2BGi1jdHUJIf19c60Sgyuz5pht5P-JZljD5fhGM5CVaK0t3rjLOZoXXMi5vU0OSPl4L0fjwr6UysZtRIZ5OyfEqjHDJFQsEenpUNT7c1EQtUbb5s"
        enctype="multipart/form-data"
        accept-charset="utf-8"
      >
        <div class="form-group">
          <label for="name">Your name</label>
          <input class="form-control" type="text" id="name" name="name" placeholder="Joe Advertiser" required>
        </div>

        <div class="form-group">
          <label for="email">Your email</label>
          <input class="form-control" type="email" id="email" name="email" placeholder="you@yourcompany.com" required>
        </div>

        <div class="form-group">
          <label for="company">Your company</label>
          <input class="form-control" type="text" id="company" name="company" required>
        </div>

        <div class="form-group">
          <label>Geographic focus</label>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="geography" value="US and Canada" id="geo-usca">
            <label class="form-check-label" for="geo-usca">US and Canada</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="geography" value="Europe" id="geo-eu">
            <label class="form-check-label" for="geo-eu">Europe</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="geography" value="Asia Pacific" id="geo-apac">
            <label class="form-check-label" for="geo-apac">Asia Pacific</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="geography" value="Other" id="geo-other">
            <label class="form-check-label" for="geo-other">Other (explain in comments)</label>
          </div>
        </div>

        <div class="form-group">
          <label>Topic focus</label>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="audience" value="Data science and machine learning" id="datascience">
            <label class="form-check-label" for="datascience">Data science and machine learning</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="audience" value="Backend web development" id="backend">
            <label class="form-check-label" for="backend">Backend web development</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="audience" value="Frontend web development" id="frontend">
            <label class="form-check-label" for="frontend">Frontend web development</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="audience" value="Security and privacy" id="security-privacy">
            <label class="form-check-label" for="security-privacy">Security and privacy</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="audience" value="DevOps" id="devops">
            <label class="form-check-label" for="devops">DevOps</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="audience" value="Other (explain in comments)" id="other">
            <label class="form-check-label" for="other">Other (explain in comments)</label>
          </div>
        </div>

        <div class="form-group">
          <label for="body">Comments</label>
          <textarea class="form-control" id="body" name="body" required>I'm excited to advertise across the network</textarea>
          <small class="form-text">Anything else you'd like us to know?</small>
        </div>

        <div class="form-group my-5">
          <input type="submit" value="Get more info" class="btn btn-warning">
          <small class="form-text">We take privacy seriously and we don't share your email. You aren't going to be added to any mailing lists.</small>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock content %}
