{% extends "page.html" %}


{% block content %}
<section class="container py-5 mb-10">
  <article class="page">
    <h1 class="font-weight-light display-3">{{ page.title }}</h1>

    <p>The campaign calculator can help you estimate and appropriately size and price your campaign based on your targeting parameters and desired conversions. Change different audiences or metrics, and choose the budget that is right for you.</p>

<!-- Data passed to the application -->
<script type="application/json" id="data-pricing">{{ page.pricing|tojson }}</script>
<script type="application/json" id="data-regions">{{ page.regions|tojson }}</script>
<script type="application/json" id="data-topics">{{ page.topics|tojson }}</script>

<div id="advertiser-calculator" class="card card-border border-primary shadow-light-lg">
  <div class="card-body">
    <div class="row justify-content-center">
      <div class="col-md-8 col-xs-12">

        <form>

          <div class="form-group mb-8">
            <h3>Geographic focus</h3>

            <div data-bind="foreach: regions">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="selected_region" data-bind="value: $data.slug, checked: $parent.selected_region, attr: {'id': $data.slug}">
                <label class="form-check-label" data-bind="text: $data.name, attr: {'for': $data.slug}"></label>
              </div>
            </div>
          </div>

          <div class="form-group mb-8">
            <h3>Topic focus</h3>

            <div data-bind="foreach: topics">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="selected_topic" data-bind="value: $data.slug, checked: $parent.selected_topic, attr: {'id': $data.slug}">
                <label class="form-check-label" data-bind="text: $data.name, attr: {'for': $data.slug}"></label>
              </div>
            </div>
          </div>

          <div class="form-group mb-8">
            <h3>Campaign budget</h3>
            <p class="small">This budget could be over just a few weeks or as long as a quarter. There is an automatic discount of 10% for campaigns over $3k and 15% for campaigns over $25k.</p>

            <div class="d-print-none">
              <div class="input-group input-group-sm mx-auto w-50 w-lg-25">
                <div class="input-group-prepend">
                  <span class="input-group-text">$</span>
                </div>
                <input type="number" class="form-control" data-bind="value: budget" min="500" max="25000" step="500" name="budget-precise" id="budget-precise">
              </div>

              <input type="range" class="form-control-range" min="500" max="25000" step="100" data-bind="value: budget" name="budget" id="budget">
              <div class="d-flex">
                <div class="small flex-fill">$500</div>
                <div class="small flex-fill text-right">$25k</div>
              </div>
            </div>
          </div>

          <div class="form-group mb-8">
            <h3>Ad click-through rate</h3>
            <p class="small">How often do visitors who see your ads click on them. This can vary widely based on how finely targeted your campaign is and how tuned the ads are to our audience. Our network average is about 0.12%. Extremely focused campaigns can do as high as 0.3-0.5%.</p>

            <div class="d-print-none">
              <div class="input-group input-group-sm mx-auto w-50 w-lg-25">
                <input type="number" class="form-control" data-bind="value: ctr" min="0" max="1" step="0.01" name="ctr-precise" id="ctr-precise">
                <div class="input-group-append">
                  <span class="input-group-text">%</span>
                </div>
              </div>

              <input type="range" class="form-control-range" min="0" max="1" step="0.01" data-bind="value: ctr" name="ctr" id="ctr">
              <div class="d-flex">
                <div class="small flex-fill">0.0%</div>
                <div class="small flex-fill text-right">1.0%</div>
              </div>
            </div>
          </div>

          <div class="form-group mb-8">
            <h3>Landing page conversion rate</h3>
            <p class="small">How often does a visitor to your ad landing page take take the action you're looking for? This can vary widely depending on whether you're capturing emails, trying to get app downloads, or getting account signups.</p>

            <div class="d-print-none">
              <div class="input-group input-group-sm mx-auto w-50 w-lg-25">
                <input type="number" class="form-control" data-bind="value: conversion_rate" min="0" max="100" step="0.1" name="conversion_rate-precise" id="conversion_rate-precise">
                <div class="input-group-append">
                  <span class="input-group-text">%</span>
                </div>
              </div>

              <input type="range" class="form-control-range" min="0" max="100" step="0.1" data-bind="value: conversion_rate" name="conversion_rate" id="conversion_rate">
              <div class="d-flex">
                <div class="small flex-fill">0.0%</div>
                <div class="small flex-fill text-right">100.0%</div>
              </div>
            </div>
          </div>

          <!-- This shows a link to this specific calculation but only when printing -->
          <div class="d-none d-print-block">
            <div class="form-group mb-8">
              <h3>Campaign calculator URL</h3>
              <a href data-bind="text: getUrl(), attr: {'href': getUrl()}"></a>
            </div>
          </div>

        </form>

      </div>

      <!-- Details and calculations -->
      <div class="col-md-4 col-xs-12">
        <div class="py-5 text-white bg-secondary rounded" data-bind="if: getSelectedRegion() && getSelectedTopic()">
          <div class="flex-fill text-center mb-5">
            <p class="small mb-0">Region</p>
            <p class="lead mb-0" data-bind="text: getSelectedRegion().name"></p>
          </div>
          <div class="flex-fill text-center mb-5">
            <p class="small mb-0">Topic</p>
            <p class="lead mb-0" data-bind="text: getSelectedTopic().name"></p>
          </div>
          <div class="flex-fill text-center mb-5">
            <p class="small mb-0">Budget</p>
            <p class="lead mb-0" data-bind="text: '$' + getBudget().toLocaleString(undefined, {maximumFractionDigits: 0})"></p>
          </div>
          <div class="flex-fill text-center mb-5">
            <p class="small mb-0">CPM</p>
            <p class="lead mb-0" data-bind="text: '$' + getCpm().toFixed(2)"></p>
            <p class="small mb-0" data-bind="if: budget() >= 3000 && budget() < 25000">* 10% discount applied</p>
            <p class="small mb-0" data-bind="if: budget() >= 25000">* 15% discount applied</p>
          </div>
          <div class="flex-fill text-center mb-5">
            <p class="small mb-0">Number of impressions</p>
            <p class="lead mb-0" data-bind="text: getNumImpressions().toLocaleString(undefined, {maximumFractionDigits: 0})"></p>
          </div>
          <div class="flex-fill text-center mb-5">
            <p class="small mb-0">Number of clicks</p>
            <p class="lead mb-0" data-bind="text: getNumClicks().toLocaleString(undefined, {maximumFractionDigits: 0})"></p>
          </div>
          <div class="flex-fill text-center mb-5">
            <p class="small mb-0">Number of conversions</p>
            <p class="lead mb-0" data-bind="text: getNumConversions().toLocaleString(undefined, {maximumFractionDigits: 0})"></p>
          </div>
        </div>

        <p class="text-center mt-10 d-print-none">
          <a href="/advertisers/#inbound-form" class="btn btn-primary lift" data-bind="attr: {'href': '/advertisers/?budget=' + encodeURIComponent(getBudget()) + '&topic=' + encodeURIComponent(getSelectedTopic().slug) + '&region=' + encodeURIComponent(getSelectedRegion().slug) + '&calculator-url=' + encodeURIComponent(getUrl()) + '#inbound-form'}">
            <span>Start your campaign</span>
          </a>
        </p>
      </div>
    </div> <!-- / .row -->
  </div>
</div>

  </article>
</section>
{% endblock content %}
