{% extends "page.html" %}


{% block head %}
{{ super() }}

{# Ad Client #}
<script async src="https://media.ethicalads.io/media/client/ethicalads.min.js"></script>
{% endblock head %}


{% block content %}
<section class="jumbotron d-flex flex-column justify-content-center">
  <div class="container">
    <h1>Looking to hire top developers? </h1>
    <h2>Get your jobs in front of more qualified devs, not just ones on job sites. Highlight your company to candidates already using your tech stack </h2>

    <a href="#inbound-form" class="btn btn-warning shadow-none mt-4">Start a campaign</a>
  </div>
</section>



<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<section class="container marketing py-5">

  <!-- Three columns of text below the carousel -->
  <div class="row">

    <!-- REACH -->
    <div class="col-md-4 mb-3">
      <div class="text-center">
        <span class="text-primary fa fa-bullhorn fa-5x"></span>
      </div>

      <h4 class="text-center text-primary">Reach</h4>
      <p class="text-center w-75 mx-auto">With reach to over <strong>35 million developer impressions</strong> each month, we are an ad network for developers by developers.</p>
    </div><!-- /.col-md-4 -->

    <!-- RELEVANT -->
    <div class="col-md-4 mb-3">
      <div class="text-center">
        <span class="text-primary fa fa-bullseye fa-5x"></span>
      </div>

      <h4 class="text-center text-primary">Relevance</h4>
      <p class="text-center w-75 mx-auto">Every publisher is hand-approved to ensure that every ad is <strong>relevant and interesting</strong> and our audience remains 100% developers.</p>
    </div><!-- /.col-md-4 -->

    <!-- TASTEFUL -->
    <div class="col-md-4 mb-3">
      <div class="text-center">
        <span class="text-primary fa fa-heart-o fa-5x"></span>
      </div>

      <h4 class="text-center text-primary">Respect</h4>
      <p class="text-center w-75 mx-auto">We believe ethical advertising works for advertisers. We provide <strong>full reporting and data export</strong> so you can validate the results yourself.</p>
    </div><!-- /.col-md-4 -->
  </div><!-- /.row -->

</section><!-- /.container -->

<!-- Sign up promos -->
<!-- ================================================== -->
<section class="container py-5">
  <div class="row">
    <div class="col-md-6 mb-3">
      <h4>Source the right candidates and fill your job openings </h4>
      <p class="lead">
        Hiring developers is hard, but we can help make it easier. We promote you to both active candidates already looking as well as passive candidates who haven't yet started their job search. This brings an entirely different group of candidates than traditional job boards.
      </p>
    </div>
    <div class="col-md-6">
      <h4>Quick stats</h4>
      <ul>
          <li>Over <strong>7 million</strong> unique developers come to Read the Docs each month</li>
          <li>Hire people who read the docs for relevant technologies to you</li>
          <li>Tell your story and let developers know why your company is a great place to work</li>
      </ul>
    </div>
  </div>
</section>

<!-- Pricing -->
<!-- ================================================== -->
{% include 'ea/includes/packages.html' %}

<section class="container py-5">
  <div class="row">
    <div class="col mb-3">
      <p class="text-center lead">See our <a href="https://assets.readthedocs.org/sustainability/Read%20the%20Docs%20Recruiting%20Prospectus.pdf" target="_blank">recruiting prospectus</a> for more details.</p>
    </div>
  </div>
</section>

<!-- Sample Ad -->
<!-- ================================================== -->
<section class="container py-5">
  <div class="row">
    <div class="col-md-6 mb-3">
      <h4>Get in front of our developer audience</h4>
      <p class="lead">When you run a campaign with us, your ad only appears on developer-focused websites. This drives your business results while supporting developers directly.</p>
    </div>
    <div class="col-md-6">
      <div class="text-center">
        <div data-ea-publisher="ethicaladsio" data-ea-type="image"></div>
      </div>
      <p class="small text-muted text-center">(This is a real ad from our network)</p>
    </div>
  </div>

</section>


<!-- Inbound form -->
<!-- ================================================== -->
{% include 'ea/includes/advertisers-inbound.html' %}
{% endblock content %}
