{% extends "page.html" %}


{% block head %}
{{ super() }}

{% include 'ea/includes/ad-client-tag.html' %}
{% endblock head %}


{% block content %}
<section class="position-relative mt-5 mb-10">

  <!-- Content -->
  <div class="container">
    <div class="row align-items-center text-center text-md-left">
      <div class="col-12 col-md-6">

        <!-- Image -->
        <img src="/theme/img/illustrations/illustration-7.png" alt="..." class="img-fluid mw-100 float-right mb-6 mb-md-0" data-aos="fade-right">

      </div>
      <div class="col-12 col-md-6">

        <!-- Heading -->
        <h1 class="display-3 font-weight-light" data-aos="fade-left">Reach developers where they work.</h1>

        <!-- Text -->
        <p class="font-size-lg" data-aos="fade-left" data-aos-delay="200">Access millons of software professionals who use our network of technical content everyday!</p>

        <a href="#inbound-form" class="btn btn-primary lift" data-aos="fade-left" data-aos-delay="200">
          <span>Start a campaign</span>
        </a>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->

</section>

<!-- Sample Ad -->
<!-- ================================================== -->
<section class="py-10">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-md-6 mb-3">
        <h2 class="font-weight-bold mb-8">Reach engaged developers</h2>
        <p class="font-size-lg text-gray-800">When you run a campaign with us, your ads are prominently displayed on vital developer resources and tools, so your solution reaches real software developers.</p>
      </div>
      <div class="col-md-6">
        <div class="text-center">
          {% include 'ea/includes/ad-placement.html' %}
        </div>
        <!-- <p class="small text-muted text-center">(This is a real ad from our network)</p> -->
      </div>

    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>


<!-- Subpage/topics callout
================================================== -->
<section class="py-10" id="audiences">
  <div class="container">

    <h2 class="text-center font-weight-bold mb-8">Audiences</h2>
    <p class="text-center lead">Match your ads to your ideal audience with our simple topic selection or custom keyword targeting.</p>

    <div class="row">

      <!-- Frontend web -->
      <div class="col-12 col-md-6 col-lg-4 p-6 text-center" data-aos="fade-up">
        <div class="icon text-primary mb-3">
          <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path d="M18.5 8a2.5 2.5 0 110-5 2.5 2.5 0 010 5zm0 13a2.5 2.5 0 110-5 2.5 2.5 0 010 5zm-13 0a2.5 2.5 0 110-5 2.5 2.5 0 010 5z" fill="#335EEA" opacity=".3"></path><path d="M5.5 8a2.5 2.5 0 110-5 2.5 2.5 0 010 5zM11 4h2a1 1 0 010 2h-2a1 1 0 010-2zm0 14h2a1 1 0 010 2h-2a1 1 0 010-2zm-6-8a1 1 0 011 1v2a1 1 0 01-2 0v-2a1 1 0 011-1zm14 0a1 1 0 011 1v2a1 1 0 01-2 0v-2a1 1 0 011-1z" fill="#335EEA"></path></g></svg>
        </div>
        <h3>Frontend web developers</h3>
        <p class="small"><a href="/advertisers/topics/frontend-web/">Learn more</a></p>
      </div>

      <!-- Backend web -->
      <div class="col-12 col-md-6 col-lg-4 p-6 text-center" data-aos="fade-up" data-aos-delay="50">
        <div class="icon text-primary mb-3">
          <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path d="M9 15H7.5A1.5 1.5 0 109 16.5V15zm0 0V9h6v6H9zm6 1.5a1.5 1.5 0 101.5-1.5H15v1.5zM16.5 9A1.5 1.5 0 1015 7.5V9h1.5zM9 7.5A1.5 1.5 0 107.5 9H9V7.5zm2 5.5h2v-2h-2v2zm2-2V7.5a3.5 3.5 0 113.5 3.5H13zm3.5 2a3.5 3.5 0 11-3.5 3.5V13h3.5zM11 16.5A3.5 3.5 0 117.5 13H11v3.5zM7.5 11A3.5 3.5 0 1111 7.5V11H7.5z" fill="#335EEA"></path></g></svg>
        </div>
        <h3>Backend web developers</h3>
        <p class="small"><a href="/advertisers/topics/backend-web/">Learn more</a></p>
      </div>

      <!-- Data Science -->
      <div class="col-12 col-md-6 col-lg-4 p-6 text-center" data-aos="fade-up" data-aos-delay="100">
        <div class="icon text-primary mb-3">
          <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><rect fill="#335EEA" opacity=".3" x="7" y="4" width="3" height="13" rx="1.5"></rect><rect fill="#335EEA" opacity=".3" x="12" y="9" width="3" height="8" rx="1.5"></rect><path d="M5 19h15a1 1 0 010 2H4a1 1 0 01-1-1V4a1 1 0 112 0v15z" fill="#335EEA"></path><rect fill="#335EEA" opacity=".3" x="17" y="11" width="3" height="6" rx="1.5"></rect></g></svg>
        </div>
        <h3>Data scientists</h3>
        <p class="small"><a href="/advertisers/topics/data-science/">Learn more</a></p>
      </div>

      <!-- DevOps -->
      <div class="col-12 col-md-6 col-lg-4 p-6 text-center" data-aos="fade-up" data-aos-delay="100">
        <div class="icon text-primary mb-3">
          <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path d="M18.622 9.75h.128a2.25 2.25 0 110 4.5h-.065a.488.488 0 00-.446.295.488.488 0 00.089.54l.045.044a2.25 2.25 0 11-3.183 3.184l-.04-.04a.49.49 0 00-.545-.094.486.486 0 00-.295.444v.127a2.25 2.25 0 11-4.5 0 .524.524 0 00-.363-.514.485.485 0 00-.532.092l-.044.045a2.25 2.25 0 11-3.184-3.183l.04-.04a.49.49 0 00.094-.545.486.486 0 00-.443-.295H5.25a2.25 2.25 0 110-4.5.524.524 0 00.514-.363.485.485 0 00-.092-.532l-.045-.044A2.25 2.25 0 118.81 5.687l.04.04c.142.139.355.177.537.097l.108-.023a.486.486 0 00.255-.423V5.25a2.25 2.25 0 114.5 0v.065c0 .194.117.37.303.449.182.08.395.042.532-.092l.044-.045a2.25 2.25 0 113.184 3.183l-.04.04a.488.488 0 00-.097.537l.023.108a.486.486 0 00.423.255z" fill="#335EEA" opacity=".3"></path><path d="M12 15a3 3 0 100-6 3 3 0 000 6z" fill="#335EEA"></path></g></svg>
        </div>
        <h3>DevOps engineers</h3>
        <p class="small"><a href="/advertisers/topics/devops/">Learn more</a></p>
      </div>

      <!-- Security & Privacy -->
      <div class="col-12 col-md-6 col-lg-4 p-6 text-center" data-aos="fade-up" data-aos-delay="100">
        <div class="icon text-primary mb-3">
          <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path d="M12 3a8 8 0 018 8v10a1 1 0 01-1 1H5a1 1 0 01-1-1V11a8 8 0 018-8zm-3 7a3 3 0 000 6h6a3 3 0 000-6H9z" fill="#335EEA"></path><path d="M15 14a1 1 0 110-2 1 1 0 010 2zm-6 0a1 1 0 110-2 1 1 0 010 2z" fill="#335EEA" opacity=".3"></path></g></svg>
        </div>
        <h3>Security &amp; privacy engineers</h3>
        <p class="small"><a href="/advertisers/topics/security-privacy/">Learn more</a></p>
      </div>

      <!-- Hiring developers -->
      <div class="col-12 col-md-6 col-lg-4 p-6 text-center" data-aos="fade-up" data-aos-delay="100">
        <div class="icon text-primary mb-3">
          <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path d="M14.112 7.006A1.01 1.01 0 0014 7h-4a1.01 1.01 0 00-.112.006l-2.54-2.448a1 1 0 01-.028-1.412L8.42 2h7.16l1.1 1.146a1 1 0 01-.028 1.412l-2.54 2.448z" fill="#335EEA"></path><path d="M13.764 9l1.721 9.15a1 1 0 01-.26.877l-2.503 2.608a1 1 0 01-1.444 0l-2.502-2.608a1 1 0 01-.261-.878L10.236 9h3.528z" fill="#335EEA" opacity=".3"></path></g></svg>
        </div>
        <h3>Hiring developers?</h3>
        <p class="small"><a href="/advertisers/hiring/">Learn more</a></p>
      </div>

    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>


<!-- Social proof -->
<!-- ================================================== -->
{% include 'ea/includes/advertiser-testimonials.html' %}


<!-- Mini-FAQ -->
<!-- ================================================== -->
<section class="container py-10">
  <h2 class="font-weight-bold mb-8">Have questions? We have answers.</h2>
  <div class="row mb-5">
    <div class="col-12 col-md-6 mb-3">
      <h4 class="font-weight-bold" id="faq-get-started">What are the top sites on the network?</h4>
      <p>Our <a href="#audiences">audiences</a> section has some of the top publishers on our network for data science, DevOps, and our other main topics.</p>
    </div>
    <div class="col-md-6">
      <h4 class="font-weight-bold" id="faq-how-much">Is the platform self-serve?</h4>
      <p>During your campaign, you will get access to our advertiser platform where you can see live reporting, upload your own ads, and and turn on and off specific ads whenever you like. We will still approve and start your campaigns.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-3">
      <h4 class="font-weight-bold" id="faq-policy">How can I measure ad performance without tracking?</h4>
      <p>Use your existing conversion tracking mechanism such as analytics and rely on UTM or ref parameters added to your ad landing page link.</p>
    </div>
    <div class="col-md-6">
      <h4 class="font-weight-bold" id="faq-payments">What are the ad specifications?</h4>
      <p>
        See our <a href="/prospectus/ad-specs.pdf">ad specs</a> for precise details and screenshots.
      </p>
    </div>
  </div>
  <p class="mt-6 text-center">
      Have more questions? Our <a href="/advertisers/faq/">Advertiser FAQ</a> has more answers!
  </p>
</section>


<!-- Pricing -->
<!-- ================================================== -->
{% include 'ea/includes/packages.html' %}



<!-- Inbound form -->
<!-- ================================================== -->
{% include 'ea/includes/advertisers-inbound.html' %}

{% endblock content %}
