{% extends "page.html" %}


{% block head %}
{{ super() }}

{% include 'ea/includes/ad-client-tag.html' %}
{% endblock head %}


{% block content %}
<section class="position-relative mt-5 mb-10">

  <!-- Content -->
  <div class="container">
    <div class="row align-items-center text-center text-md-left">
      <div class="col-12 col-md-6">

        <!-- Image -->
        <img src="/theme/img/illustrations/illustration-2.png" alt="..." class="img-fluid mw-100 float-right mb-6 mb-md-0" data-aos="fade-right">

      </div>
      <div class="col-12 col-md-6">

        <!-- Heading -->
        <h1 class="display-3 font-weight-light" data-aos="fade-left">Looking to hire top developers?</h1>

        <!-- Text -->
        <p class="font-size-lg" data-aos="fade-left" data-aos-delay="200">Get your jobs in front of more qualified devs, not just ones on job sites. Highlight your company to candidates already using your tech stack.</p>

        <a href="#inbound-form" class="btn btn-primary lift" data-aos="fade-left" data-aos-delay="200">
          <span>Promote your job</span>
        </a>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->

</section>



<!-- Marketing messaging and featurettes
================================================== -->
<section class="py-10">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 mb-5 mb-md-0 text-center" data-aos="fade-up">

        <!-- Icon -->
        <div class="icon text-primary mb-3">
          <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path d="M14.112 7.006A1.01 1.01 0 0014 7h-4a1.01 1.01 0 00-.112.006l-2.54-2.448a1 1 0 01-.028-1.412L8.42 2h7.16l1.1 1.146a1 1 0 01-.028 1.412l-2.54 2.448z" fill="#335EEA"></path><path d="M13.764 9l1.721 9.15a1 1 0 01-.26.877l-2.503 2.608a1 1 0 01-1.444 0l-2.502-2.608a1 1 0 01-.261-.878L10.236 9h3.528z" fill="#335EEA" opacity=".3"></path></g></svg>
        </div>

        <!-- Heading -->
        <h3>Hire the best</h3>

        <!-- Text -->
        <p class="text-gray-800 mb-6 mb-md-0">We highlight your open positions to qualified devs on sites related to your tech. They'll see your openings whether they've started their job search or not.</p>

      </div>
      <div class="col-12 col-md-4 mb-5 mb-md-0 text-center" data-aos="fade-up" data-aos-delay="50">

        <!-- Icon -->
        <div class="icon text-primary mb-3">
          <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path d="M18 14a3 3 0 110-6 3 3 0 010 6zm-9-3a4 4 0 110-8 4 4 0 010 8z" fill="#335EEA" opacity=".3"></path><path d="M17.601 15c3.407.038 6.188 1.76 6.397 5.4.009.147 0 .6-.542.6H19.6c0-2.25-.744-4.328-1.999-6zm-17.6 5.2C.388 15.426 4.26 13 8.983 13c4.788 0 8.722 2.293 9.015 7.2.012.195 0 .8-.751.8H.727c-.25 0-.747-.54-.726-.8z" fill="#335EEA"></path></g></svg>
        </div>

        <!-- Heading -->
        <h3>Find your niche</h3>

        <!-- Text -->
        <p class="text-gray-800 mb-6 mb-md-0">Don't just post your openings on generic job boards. Focus exclusively on developers already using relevant technology.</p>

      </div>
      <div class="col-12 col-md-4 mb-5 mb-md-0 text-center" data-aos="fade-up" data-aos-delay="100">

        <!-- Icon -->
        <div class="icon text-primary mb-3">
          <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path d="M7 11h8a2 2 0 002-2V8h2v1a4 4 0 01-4 4H7v2a1 1 0 01-2 0V9a1 1 0 112 0v2z" fill="#335EEA" opacity=".3"></path><path d="M6 21a2 2 0 100-4 2 2 0 000 4zm0 2a4 4 0 110-8 4 4 0 010 8zM18 7a2 2 0 100-4 2 2 0 000 4zm0 2a4 4 0 110-8 4 4 0 010 8zM6 7a2 2 0 100-4 2 2 0 000 4zm0 2a4 4 0 110-8 4 4 0 010 8z" fill="#335EEA"></path></g></svg>
        </div>

        <!-- Heading -->
        <h3>We know developers</h3>

        <!-- Text -->
        <p class="text-gray-800 mb-0">Developers are hard to reach but that's where we can help. Every site on our publisher network is hand-approved for both topic relevance and quality.</p>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>



<!-- Sign up promos -->
<!-- ================================================== -->
<section class="container py-10">
  <div class="row">
    <div class="col-md-6 mb-3">
      <h3 class="font-weight-bold mb-4">Source the right candidates and fill your job openings</h3>
      <p>
        Hiring developers is hard, but we can help make it easier. We promote you to both active candidates already looking as well as passive candidates who haven't yet started their job search. This brings an entirely different group of candidates than traditional job boards.
      </p>
    </div>
    <div class="col-md-6">
      <h3 class="font-weight-bold mb-4">Quick stats</h3>
      <ul>
          <li>Over <strong>8 million</strong> unique developers come to our publisher's sites each month</li>
          <li>Hire folks already visiting sites related to your tech stack</li>
          <li>Tell your story and let developers know why your company is a great place to work</li>
      </ul>
    </div>
  </div>
</section>

<!-- Pricing -->
<!-- ================================================== -->
{% include 'ea/includes/packages.html' %}


<!-- Sample Ad -->
<!-- ================================================== -->
<section class="py-10">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-md-6 mb-3">
        <h2 class="font-weight-bold mb-8">Get in front of our developer audience</h2>
        <p class="font-size-lg text-gray-800">When you run a campaign with us, your ad only appears on developer-focused websites. This drives your business results while supporting developers directly.</p>
      </div>
      <div class="col-md-6">
        <div class="text-center">
          {% include 'ea/includes/ad-placement.html' %}
        </div>
        <p class="small text-muted text-center">(This is a real ad from our network)</p>
      </div>

    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>


<!-- Inbound form -->
<!-- ================================================== -->
{% include 'ea/includes/advertisers-inbound.html' %}
{% endblock content %}
