{% extends "page.html" %}


{% block content %}
<section class="container py-5 mb-10">
  <article class="page">

    <div class="row align-items-center justify-content-between py-5">
      <div class="col-12 col-md-5 order-md-2">

        <!-- Heading -->
        <h1>
          We help you run a campaign
          <span class="text-success">that converts</span>
        </h1>

        <!-- Text -->
        <p class="font-size-lg text-gray-700 mb-6 mb-md-0">
          Need help with your campaign? You're always a quick email away from reaching a real person who knows developer marketing and can help whether you need just a little assistance adapting ads you're running elsewhere or you have issues with your landing pages and attribution.
        </p>

      </div>
      <div class="col-12 col-md-6 order-md-1">

        <!-- Card -->
        <div class="card card-border border-success shadow-lg">
          <div class="card-body">

            <!-- List group -->
            <div class="list-group list-group-flush">
              <div class="list-group-item d-flex align-items-center">

                <!-- Text -->
                <div class="mr-auto">

                  <!-- Heading -->
                  <p class="font-weight-bold mb-1">
                    Pre-campaign
                  </p>

                  <!-- Text -->
                  <p class="font-size-sm text-gray-700 mb-0">
                    We review your ads and landing pages and make proactive suggestions about what works.
                  </p>

                </div>

                <!-- Check -->
                <div class="badge badge-rounded-circle badge-success-soft ml-4">
                  <i class="fe fe-check"></i>
                </div>

              </div>
              <div class="list-group-item d-flex align-items-center">

                <!-- Text -->
                <div class="mr-auto">

                  <!-- Heading -->
                  <p class="font-weight-bold mb-1">
                    Mid-campaign
                  </p>

                  <!-- Text -->
                  <p class="font-size-sm text-gray-700 mb-0">
                    You can access reports by day, publisher, or geography and get a personalized mid-campaign checkup from us with suggestions. Large campaigns ($15k+) get a video progress report.
                  </p>

                </div>

                <!-- Check -->
                <div class="badge badge-rounded-circle badge-success-soft ml-4">
                  <i class="fe fe-check"></i>
                </div>

              </div>
              <div class="list-group-item d-flex align-items-center">

                <!-- Text -->
                <div class="mr-auto">

                  <!-- Heading -->
                  <p class="font-weight-bold mb-1">
                    Post-campaign
                  </p>

                  <!-- Text -->
                  <p class="font-size-sm text-gray-700 mb-0">
                    We provide a wrapup report with suggested improvements for your followup campaign. You can always compare past campaigns.
                  </p>

                </div>

                <!-- Check -->
                <div class="badge badge-rounded-circle badge-success-soft ml-4">
                  <i class="fe fe-check"></i>
                </div>

              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

  </article>
</section>


<!-- Case Study & Example -->
<!-- ================================================== -->
<section class="py-10 bg-gray-200">
  <div class="container">

    <div class="row">
      <div class="col-12 col-md-6">

        <span class="badge badge-pill badge-primary-soft mb-2">
          <span class="h6 text-uppercase font-weight-bold">Case study</span>
        </span>

        <!-- Heading -->
        <h2 class="font-weight-bold">Checkmk's campaign improvements</h2>

        <!-- Text -->
        <p>Checkmk's marketing team recognized the high potential of EthicalAds for reaching their core IT audience for their IT Monitoring platform. Through excellent communication, marketing expertise, and a collaborative approach, EthicalAds helped Checkmk quickly optimize their display campaigns, <strong>significantly increasing lead volume and their quality without increasing campaign costs</strong>. The relationship and results were a key factor in maintaining this long-term advertising collaboration.</p>

      </div>
      <div class="col-12 col-md-6 text-center">

        <!-- Begin Ad -->
        <div class="mt-5 loaded raised" data-ea-type="image" data-ea-publisher="unknown">
          <div class="ea-content">
            <a href="https://checkmk.com/?utm_source=ethicalads-testimonial" rel="nofollow noopener" target="_blank">
              <img src="https://ethicalads.blob.core.windows.net/media/images/2023/05/rtd_creatives_q2_23_dashboard_blue.png" alt="Checkmk advertisement">
            </a>
            <div class="ea-text">
              <a href="https://checkmk.com/?utm_source=ethicalads-testimonial" rel="nofollow noopener" target="_blank">
                <strong>No more downtime.</strong>
                <span> Monitor your entire IT infrastructure with Checkmk all-in-one tool. </span>
                <strong>Start for free</strong>
              </a>
            </div>
          </div>
          <div class="ea-callout">
            <a rel="nofollow noopener" href="https://ethicalads.io/">Ad by EthicalAds</a>
          </div>
        </div>
        <!-- /End Ad -->

      </div>
    </div> <!-- / .row -->

  </div> <!-- / .container -->
</section>


<!-- Testimonial & Quote -->
<!-- ================================================== -->
<section class="py-10">
  <div class="container">

    <div class="mb-10 w-md-50 mx-auto">
      <blockquote class="blockquote mb-0 text-center">

        <!-- Text -->
        <p class="mb-5 mb-md-7">
          “EthicalAds consistently delivers exceptional results effectively reaching our highly targeted IT audience and generating quality leads.”
        </p>

        <!-- Footer -->
        <footer class="blockquote-footer">
          <img src="/images/pages/testimonials/checkmk-tomasz.jpg" class="w-25 rounded-circle d-block mx-auto mb-3" alt="Tomasz Gambuś from Checkmk" />
          <h5 class="bold">Tomasz Gambuś</h5>
          <span>Senior Digital Growth Manager at Checkmk</span>
        </footer>

      </blockquote>
    </div>

  </div>
</section>


<section class="container py-10" id="we-work-with-you">
  <h2 class="font-weight-bold mb-8 text-center">Other ways we can help</h2>
  <div class="row mb-5">
    <div class="col-12 col-md-6 mb-3">
      <h4 class="font-weight-bold">Balancing many campaigns across networks?</h4>
      <p>We proactively update you throughout your campaign with tips and progress. For larger campaigns of $15k+ per quarter, we produce short videos detailing your ad performanace with personalized tips to help you get the most from EthicalAds.</p>
    </div>
    <div class="col-md-6">
      <h4 class="font-weight-bold">We ensure your ads are working</h4>
      <p>We check-in on your campaign multiple times with tips about what is working and what isn't. We want your campaign to work well and we give you advice throughout the duration and work with you to make it successful.</p>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-6">
      <h4 class="font-weight-bold">Keep as much control as you want</h4>
      <p>We review ads before they go live and we check that there aren't common issues with your landing pages. We can propose new ads for you to run, but you stay in control of your campaign unless you want to let us manage it for you.</p>
    </div>
    <div class="col-12 col-md-6 mb-3">
      <h4 class="font-weight-bold">Need help with something else?</h4>
      <p><a href="/contact/">Just ask</a>! Unlike the big ad platforms, with EthicalAds, you'll always connect quickly with a real person.</p>
    </div>
  </div>

</section>

{% endblock content %}
