{% extends "page.html" %}


{% block head %}
{{ super() }}

{# Ad Client #}
<script async src="https://media.ethicalads.io/media/client/ethicalads.min.js"></script>
{% endblock head %}


{% block content %}
<section class="jumbotron d-flex flex-column justify-content-center">
  <div class="container">
    <h1>Advertising without compromise</h1>
    <h2>Privacy-focused advertising for developers from the fine folks at Read the Docs</h2>

    <div class="form-group mt-4">
      <a href="/advertisers/" class="btn btn-warning shadow-none mx-5 d-block d-md-inline text-nowrap">
        <span class="fa fa-bullhorn"></span> <span>Advertiser information</span>
      </a>
      <a href="/publishers/" class="btn btn-warning shadow-none mt-2 mt-md-0 mx-5 d-block d-md-inline text-nowrap">
        <span class="fa fa-usd"></span> <span>Publisher information</span>
      </a>
    </div>
  </div>
</section>



<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<section class="container marketing py-5">

  <!-- Three columns of text below the carousel -->
  <div class="row">
      <div class="text-center">
      </div>

    <!-- REACH -->
    <div class="col-md-4 mb-3">
      <div class="text-center">
        <span class="text-primary fa fa-bullhorn fa-5x"></span>
      </div>

      <h4 class="text-center text-primary">Reach</h4>
      <p class="text-center w-75 mx-auto">With reach to over <strong>35 million developer impressions</strong> each month, we are an ad network for developers by developers.</p>
    </div><!-- /.col-md-4 -->

    <!-- RELEVANT -->
    <div class="col-md-4 mb-3">
      <div class="text-center">
        <span class="text-primary fa fa-bullseye fa-5x"></span>
      </div>

      <h4 class="text-center text-primary">Relevance</h4>
      <p class="text-center w-75 mx-auto">Every advertiser and publisher is hand approved to ensure that every ad is <strong>relevant and interesting</strong> and our audience remains 100% developers.</p>
    </div><!-- /.col-md-4 -->

    <!-- TASTEFUL -->
    <div class="col-md-4 mb-3">
      <div class="text-center">
        <span class="text-primary fa fa-heart-o fa-5x"></span>
      </div>

      <h4 class="text-center text-primary">Respect</h4>
      <p class="text-center w-75 mx-auto">We believe good advertising should <strong>compliment content</strong> and never get in the way. That's why we built a network that complies with AcceptableAds, BetterAds, and DoNotTrack.</p>
    </div><!-- /.col-md-4 -->
  </div><!-- /.row -->

</section><!-- /.container -->

<!-- Social proof -->
<!-- ================================================== -->
<section class="container py-5">
  <div class="row">
    <div class="col mb-3">
      <h4 class="text-center text-primary">Over 1 billion ads served since 2016</h4>
      <p class="text-center lead mb-0"><strong>Advertisers</strong> have success by targeting developers on the sites they frequent, without being blocked.</p>
      <p class="text-center lead mb-0"><strong>Developers</strong> trust our ads because our code is open source, and we're developers ourselves.</p>
      <p class="text-center lead">Read more about <a href="/advertising-vision/">our vision</a> for advertising without invasive tracking</p>

    </div>
  </div>
</section>


{% include 'ea/includes/publisher-testimonials.html' %}


<!-- Sign up promos -->
<!-- ================================================== -->
<section class="container py-5">
  <div class="row">
    <div class="col-md-6 mb-3">
      <h4>Interested in ads on your site?</h4>
      <p class="lead">Our EthicalAds network is a great place to generate revenue while increasing the privacy of the internet. We value the work you do in the tech industry, and want to let you focus on making it better without worrying about sustainability.</p>
        <a href="/publishers/#inbound-form" class="btn btn-warning shadow-none">
          <span class="fa fa-dollar"></span>
          <span>Apply to be a publisher today</span>
        </a>
        <span>or <a href="/publishers/">learn more</a></span>
    </div>
    <div class="col-md-6">
      <h4>Want to get in front of our audience?</h4>
      <p class="lead">Reach millions of developers instantly on our advertising network. We allow targeting by topics and geography, so that you reach the exact audience that you want. Want to reach Data Scientists in the US? We can do that.</p>
        <a href="/advertisers/#inbound-form" class="btn btn-warning shadow-none">
          <span class="fa fa-bullhorn"></span>
          <span>Start advertising today</span>
        </a>
        <span>or <a href="/advertisers/">learn more</a></span>
    </div>
  </div>
</section>


<!-- Sample Ad -->
<!-- ================================================== -->
<section class="container py-5">
  <div class="row">
    <div class="col-md-6 mb-3">
      <h4>Developer-focused sites only</h4>
      <p class="lead">This makes all of our ads well-targeted to developers. We increase the value of targeting by focusing on the topics of each site, meaning more money for publishers and better results for advertisers.</p>
    </div>
    <div class="col-md-6">
      <div class="text-center">
        <div data-ea-publisher="ethicaladsio" data-ea-type="image"></div>
      </div>
      <p class="small text-muted text-center">(This is a real ad from our network)</p>
    </div>
  </div>

</section>
{% endblock content %}
