{% extends "page.html" %}



{% block content %}
{{ super() }}


{% if not page.disable_form %}
<section class="inbound-form bg-gray-200 py-10" id="inbound-form">
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">

        <!-- Card -->
        <div class="card card-border border-primary shadow-light-lg">
          <div class="card-body">
            <div class="row justify-content-center">
              <div class="col-12 col-xl-11">

                <h2 class="font-weight-bold">Applying</h2>
                <p class="font-size-lg">We will be accepting applications on an ongoing basis until the position is filled. Please fill out the below form to apply for this role. Normal response time is around 2-3 weeks, and we intend to reply to all candidates.</p>

                <!-- Front - Ads application -->
                <form
                  method="POST"
                  name="fa-form-1"
                  action="https://webhook.frontapp.com/forms/036c4169294f3b04abaa/6DYWox0Z3W2SF-DWgfPmLny3EYGHd5z3ojji-TInHuW05-WLmcKENtDFahN1noO4lgvQJZxWpvg28up6RsDAZfuX-aO4zGWNB2z380kqk1PpVCWeDPP1CrfdA1c"
                  enctype="multipart/form-data"
                  accept-charset="utf-8"
                >
                  {% if page %}
                  <input type="hidden" name="title" value="{{ page.title }}" />
                  <input type="hidden" name="url" value="{{ page.url }}" />
                  {% endif %}
                  <input type="hidden" name="subject" value="{% if page.form_subject %}{{ page.form_subject }}{% else %}Job application{% endif %}">
                  <input type="hidden" name="body" value="Content embedded below">

                  <div class="form-group">
                    <label for="name">Your name</label>
                    <input class="form-control" type="text" id="name" name="name" required>
                  </div>

                  <div class="form-group">
                    <label for="email">Your email</label>
                    <input class="form-control" type="email" id="email" name="email" required>
                  </div>

                  <div class="form-group">
                    <label for="why">1-2 paragraphs about why you're excited to work on Read the Docs</label>
                    <textarea class="form-control" id="why" name="why" required></textarea>
                  </div>

                  <div class="form-group">
                    <label for="ads-interest">What specifically interests you about advertising?</label>
                    <textarea class="form-control" id="ads-interest" name="ads-interest" required></textarea>
                  </div>

                  <div class="form-group">
                    <label for="extra">Anything else you'd like us to know?</label>
                    <textarea class="form-control" id="extra" name="extra"></textarea>
                  </div>

                  <div class="form-group">
                    <label for="resume">Resume/CV</label>
                    <input class="form-control-file" type="file" id="resume" name="resume" required>
                  </div>

                  <div class="form-group my-5">
                    <input type="hidden" name="body" value="EthicalAds.io advertising inquiry" />
                    {% if page %}<input type="hidden" name="url" value="{{ page.url }}" />{% endif %}
                    <input type="submit" value="Submit Application" class="btn btn-sm btn-primary">
                  </div>
                </form>

              </div>
            </div> <!-- / .row -->
          </div>
        </div>
      </div>
    </div> <!-- / .row -->

  </div>
</section>
{% endif %}


{% endblock content %}
