{% extends "page.html" %}



{% block content %}
{{ super() }}



<section class="py-10">
  <div class="container">
    <h2>Brand guidelines</h2>

    <ul class="list-unstyled">
      <li class="media my-8">
        <img class="align-self-center mr-10 border" src="/theme/img/mediakit/ethicalads-logo-blue.png" alt="EthicalAds logo blue on white" height="50">
        <div class="media-body">
          <h4 class="mt-0 mb-1">EthicalAds logo blue on white</h4>
          <small>Our blue (#2C82B9) on white logo which is good for white or light backgrounds. The SVG version has a transparent background and can be used on off white.</small>
          <ul class="list-inline small">
            <li class="list-inline-item"><a href="/theme/img/mediakit/ethicalads-logo-blue.png">PNG</a></li>
            <li class="list-inline-item"><a href="/theme/img/mediakit/ethicalads-logo-blue.svg">SVG</a></li>
          </ul>
        </div>
      </li>
      <li class="media my-8">
        <img class="align-self-center mr-10 border" src="/theme/img/mediakit/ethicalads-logo-black.png" alt="EthicalAds logo black on white" height="50">
        <div class="media-body">
          <h4 class="mt-0 mb-1">EthicalAds logo black on white</h4>
          <small>Our logo in black and white which should be used when color isn't appropriate.</small>
          <ul class="list-inline small">
            <li class="list-inline-item"><a href="/theme/img/mediakit/ethicalads-logo-black.png">PNG</a></li>
            <li class="list-inline-item"><a href="/theme/img/mediakit/ethicalads-logo-black.svg">SVG</a></li>
          </ul>
        </div>
      </li>
      <li class="media my-8">
        <img class="align-self-center mr-10 border" src="/theme/img/mediakit/ethicalads-logo-white.png" alt="EthicalAds logo white on blue" height="50">
        <div class="media-body">
          <h4 class="mt-0 mb-1">EthicalAds logo white on blue</h4>
          <small>Our logo in white on our blue. The SVG version has a transparent background but should only be used on blue.</small>
          <ul class="list-inline small">
            <li class="list-inline-item"><a href="/theme/img/mediakit/ethicalads-logo-white.png">PNG</a></li>
            <li class="list-inline-item"><a href="/theme/img/mediakit/ethicalads-logo-white.svg">SVG</a></li>
          </ul>
        </div>
      </li>
    </ul>

    <p class="small">The font used in the logo is <a href="https://www.myfonts.com/fonts/linotype/avenir/">Avenir</a> from Linotype. Our blue is (#2C82B9) and we sometimes use a darker blue (#1B2A4E) for contrast.</p>
  </div>
</section>


{% include 'ea/includes/contact-footer.html' %}

{% endblock content %}
