{% extends "page.html" %}


{% block head %}
{{ super() }}

{# Ad Client #}
<script async src="https://media.ethicalads.io/media/client/ethicalads.min.js"></script>
{% endblock head %}


{% block content %}
<section class="jumbotron d-flex flex-column justify-content-center">
  <div class="container">
    <h1>Ads for a privacy-focused audience</h1>
    <h2>Earn money on your content without compromising your visitors' privacy</h2>

    <a href="#inbound-form" class="btn btn-warning shadow-none mt-4">Become a publisher</a>
  </div>
</section>


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<section class="container marketing py-5">

  <!-- Three columns of text below the carousel -->
  <div class="row">

    <!-- REACH -->
    <div class="col-md-4 mb-3">
      <div class="text-center">
        <span class="text-primary fa fa-check-circle-o  fa-5x"></span>
      </div>

      <h4 class="text-center text-primary">Simple Integration</h4>
      <p class="text-center w-75 mx-auto">Once approved as a publisher, use a JavaScript or backend API integration. Multiple options that keep your users data with you.</p>
    </div><!-- /.col-md-4 -->

    <!-- RELEVANT -->
    <div class="col-md-4 mb-3">
      <div class="text-center">
        <span class="text-primary fa fa-bullseye fa-5x"></span>
      </div>

      <h4 class="text-center text-primary">Relevant Ads</h4>
      <p class="text-center w-75 mx-auto">
        We don't use cookies to track users, but we match ads based on the content of your site. This gives your users <strong>ultimate privacy and relevant ads</strong>, the best of both worlds.
      </p>
    </div><!-- /.col-md-4 -->

    <!-- TASTEFUL -->
    <div class="col-md-4 mb-3">
      <div class="text-center">
        <span class="text-primary fa fa-heart-o fa-5x"></span>
      </div>

      <h4 class="text-center text-primary">Publisher Focused</h4>
      <p class="text-center w-75 mx-auto">
        We started as a <a href="https://docs.readthedocs.io/en/latest/">publisher</a>,
        and still run ethical ads on all our sites.
        We believe in supporting open source,
        because we're open source devs ourselves.
      </p>
    </div><!-- /.col-md-4 -->
  </div><!-- /.row -->

</section><!-- /.container -->

<!-- Social proof -->
<!-- ================================================== -->
<section class="container py-5">
  <div class="row">
    <div class="col mb-3">
      <h4 class="text-center text-primary">Over 1 billion ads served since 2016</h4>
      <p class="text-center lead mb-0">
        <strong>Developers</strong> trust our ads because our code is open source, and we're developers ourselves.
      </p>
      <p class="text-center lead">Read more about <a href="/advertising-vision/">our vision</a> for advertising without invasive tracking</p>
    </div>
  </div>
</section>

<!-- Sample Ad -->
<!-- ================================================== -->
<section class="container py-5">
  <div class="row">
    <div class="col-md-6 mb-3">
      <h4>One ad per page</h4>
      <p class="lead">
        We only show one ad per page, because developers don't want ads all over their sites.
        Advertising is a trade-off that we choose, to make our projects more sustainable.
        We don't compromise on privacy though.
      </p>
    </div>
    <div class="col-md-6">
      <div class="text-center">
        <div data-ea-publisher="ethicaladsio" data-ea-type="image"></div>
      </div>
      <p class="small text-muted text-center">(This is a real ad from our network)</p>
    </div>
  </div>

</section>

<!-- FAQ -->
<!-- ================================================== -->
<section class="container py-5">
  <div class="row">
    <div class="col-md-6 mb-3">
      <h4>How do I get started?</h4>
      <p>
        Simply fill out our <a href="#inbound-form">publisher signup</a> form with some information, and we'll get back to you right away.
      </p>
    </div>
    <div class="col-md-6">
      <h4>How much will I make?</h4>
      <p>
        These numbers will vary based on your audience and topics that you write about.
        Generally we are able to offer around $1-1.50 per 1,000 pageviews (CPM),
        assuming a majority of US and European traffic.
      </p>
    </div>
  </div>
</section>




<!-- FAQ -->
<!-- ================================================== -->
<section class="container py-5">
  <div class="row">
    <div class="col-md-6 mb-3">
      <h4 id="policy">Any policies on showing ads?</h4>
      <p>When you show an ad on your site:</p>
      <ul>
        <li>
          EthicalAds should be the only ad on your site
        </li>
        <li>
          The ad should appear when the user first visits, above the fold, on both desktop and mobile. You can disable the ad on mobile if this isn't possible.
        </li>
        <li>
          You are welcome to display a different ad as a fallback if EthicalAds doesn't have a paid ad to show on your property.
        </li>
      </ul>
      <p>
        You can read more in our full <a href="/publisher-policy/">Publisher Policy</a>
      </p>
    </div>
    <div class="col-md-6">
      <h4 id="payments">How can I be paid?</h4>
      <p>
        We currently support payment via PayPal, OpenCollective, and Wire transfer.
        <strong>Our minimum payment to publishers is currently $50</strong>.
        We're still getting our payment systems automated, so this number will probably get lower in the future.
      </p>
      <p>
        You can read more in our full <a href="/publisher-policy/">Publisher Policy</a>.
      </p>
    </div>
  </div>
</section>


<!-- Publisher testomonials -->
<!-- ================================================== -->
{% include 'ea/includes/publisher-testimonials.html' %}

<!-- Inbound form -->
<!-- ================================================== -->
{% include 'ea/includes/advertisers-inbound.html' %}

{% endblock content %}
