{% extends "page.html" %}


{% block content %}
<section class="py-10">
  <div class="container">

    <div class="mb-8">
      <h1 class="font-weight-bold text-center">{{ page.title }}</h1>
      {% if page.subtitle %}<p class="lead text-center">{{ page.subtitle }}</p>{% endif %}
    </div>

    <div class="row row-cols-1 row-cols-md-3 mb-8">

      <!-- Apply -->
      <div class="col mb-2">
        <div class="card shadow-sm h-100">
          <div class="card-body">
            <h3 class="card-title">Step #1: Apply</h3>
            <p class="card-text">The first step is <a href="/publishers/#inbound-form">applying to be a publisher</a>. We're actively seeking <strong>developer-focused sites with 50k+ monthly pageviews</strong>. Once accepted, you'll have access to our publisher dashboard with reporting.</p>

            <hr>

            <div class="text-center py-3">
              <img src="/theme/img/illustrations/illustration-3.png" alt="Apply to EthicalAds" class="w-75">
            </div>

          </div>
        </div>
      </div>

      <!-- Setup -->
      <div class="col mb-2">
        <div class="card shadow-sm h-100">
          <div class="card-body">
            <h3 class="card-title">Step #2: Setup</h3>
            <p class="card-text">Setup the EthicalAds <a href="https://ethical-ad-client.readthedocs.io/">ad client</a> on your site with your custom ID from our publisher dashboard. Out of the box you'll serve unpaid ads until your site is approved for paid ads.</p>

            <hr>

            <div class="text-center rounded py-3">
              <img src="/images/pages/publishers/publisher-code-example.png" class="w-75" alt="Client code example">
            </div>
          </div>
        </div>
      </div>

      <!-- Approval -->
      <div class="col mb-2">
        <div class="card shadow-sm h-100">
          <div class="card-body">
            <h3 class="card-title">Step #3: Approval</h3>
            <p class="card-text">After configuring our ad client and seeing your first ad, the last step is to request approval for paid ads and configure how you'd like to be paid.</p>

            <hr>

            <div class="text-center py-3">
              <img src="/images/pages/publishers/publisher-dashboard-earnings.png" alt="Publisher earnings report" class="screenshot w-75">
            </div>
          </div>
        </div>
      </div>

    </div> <!-- /row -->
  </div> <!-- /.container -->

</section>


<section class="container py-5" id="getting-approved">
  <h2 class="font-weight-bold mb-8 text-center">Getting approved</h2>

  <div class="row">
    <div class="col col-md-6">
      <div class="device device-macbook">
        <img src="/images/pages/publishers/publisher-stylized-screenshot-good.png" class="device-screen" alt="A single above-the-fold ad with good placement">
        <img src="/theme/img/devices/macbook.svg" class="img-fluid" alt="...">
        <span class="text-success" style="position: absolute; top: 0; right: 5%; width: 15%">
          <svg xmlns="http://www.w3.org/2000/svg" width="100%" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
            <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"></path>
          </svg>
        </span>
      </div>
    </div>
    <div class="col col-md-6">
      <div class="device device-macbook">
        <img src="/images/pages/publishers/publisher-stylized-screenshot-bad.png" class="device-screen" alt="Unacceptable placement - multiple ads on the page">
        <img src="/theme/img/devices/macbook.svg" class="img-fluid" alt="...">
        <span class="text-danger" style="position: absolute; top: 0; right: 5%; width: 15%">
          <svg xmlns="http://www.w3.org/2000/svg" width="100%" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
          </svg>
        </span>
      </div>
    </div>
  </div>

  <div class="row my-5">
    <div class="col col-md-6 mx-auto">
      <ul>
        <li>EthicalAds should be the only ad on the page (your own promotions are fine).</li>
        <li>The ad should be above the fold on both desktop and mobile. You can disable the ad on mobile if this isn't possible.</li>
        <li>The ad should not disrupt the natural reading flow of the page. It should be placed above, beside or below the main content, not within it.</li>
      </ul>

      <p class="text-center">For more details, see our <a href="/publisher-policy/">publisher policy</a>.</p>
    </div>
  </div>
</section>



<section class="container py-5" id="maximize-ux-revenue">
  <h2 class="font-weight-bold mb-8 text-center">Maximize UX &amp; Revenue</h2>
  <p class="mx-auto text-center w-100 w-md-75">To ensure your site generates as much revenue from ads as possible, you need to make sure your ad placement and targeting complement your content.</p>

  <div class="row row-cols-1 row-cols-md-2 mb-8">

    <!-- Light mode -->
    <div class="col mb-2">
      <div class="card shadow-sm h-100">
        <div class="card-body text-center">
          <h3 class="card-title">Light mode</h3>

          <div class="loaded horizontal raised" data-ea-type="image" data-ea-publisher="unknown">
            <div class="ea-content">
              <a href="#" rel="nofollow noopener">
                <img src="/images/pages/top-ad-example-1.png" alt="Top ad example">
              </a>
              <div class="ea-text">
                <a href="#" rel="nofollow noopener">
                  <strong>Free e-book:</strong>
                  <span> Learn to choose the best open source packages. </span>
                  <strong>Download now!</strong>
                </a>
              </div>
            </div>
            <div class="ea-callout">
              <a rel="nofollow noopener" href="https://ethicalads.io/">Ad by EthicalAds</a>
            </div>
          </div>

          <hr>

          <div class="loaded horizontal raised" data-ea-type="text" data-ea-publisher="unknown">
            <div class="ea-content">
              <div class="ea-text">
                <a href="#" rel="nofollow noopener">
                  <strong>Free e-book:</strong>
                  <span> Learn to choose the best open source packages. </span>
                  <strong>Download now!</strong>
                </a>
              </div>
            </div>
            <div class="ea-callout">
              <a rel="nofollow noopener" href="https://ethicalads.io/">Ad by EthicalAds</a>
            </div>
          </div>
        </div>
      </div> <!-- /div.card -->
    </div>

    <!-- Dark mode -->
    <div class="col mb-2">
      <div class="card shadow-sm h-100 bg-gray-900">
        <div class="card-body text-center">
          <h3 class="card-title text-white">Dark mode</h3>

          <div class="loaded dark horizontal raised" data-ea-type="image" data-ea-publisher="unknown">
            <div class="ea-content">
              <a href="#" rel="nofollow noopener">
                <img src="/images/pages/top-ad-example-1.png" alt="Top ad example">
              </a>
              <div class="ea-text">
                <a href="#" rel="nofollow noopener">
                  <strong>Free e-book:</strong>
                  <span> Learn to choose the best open source packages. </span>
                  <strong>Download now!</strong>
                </a>
              </div>
            </div>
            <div class="ea-callout">
              <a rel="nofollow noopener" href="https://ethicalads.io/">Ad by EthicalAds</a>
            </div>
          </div>

          <hr>

          <div class="loaded dark raised" data-ea-type="text" data-ea-publisher="unknown">
            <div class="ea-content">
              <div class="ea-text">
                <a href="#" rel="nofollow noopener">
                  <strong>Free e-book:</strong>
                  <span> Learn to choose the best open source packages. </span>
                  <strong>Download now!</strong>
                </a>
              </div>
            </div>
            <div class="ea-callout">
              <a rel="nofollow noopener" href="https://ethicalads.io/">Ad by EthicalAds</a>
            </div>
          </div>

        </div>
      </div> <!-- /div.card -->
    </div>
  </div>


  <div class="row my-5" id="tips-written">
    <div class="col col-md-9 mx-auto">
      <ul>
        <li>Choose the right ad placement for your site. There are options for <a href="https://ethical-ad-client.readthedocs.io/en/latest/#themes">vertical</a>, <a href="https://ethical-ad-client.readthedocs.io/en/latest/#horizontal-image">horizontal</a>, <a href="https://ethical-ad-client.readthedocs.io/en/latest/#dark-mode">dark mode</a>, <a href="https://ethical-ad-client.readthedocs.io/en/latest/#text-placement">text-only</a>, or <a href="https://ethical-ad-client.readthedocs.io/en/latest/#placement-style">floating placements</a>.</li>
        <li>Our site crawler will periodically crawl your site and index your pages so we can serve the best ad on any individual page with AI-powered contextual targeting. However, on single-page apps (SPAs) or publishers using our API, you can pass <a href="https://ethical-ad-client.readthedocs.io/en/latest/#page-specific-keywords">page-specific keywords</a> to ensure you get the best ad targeting.</li>
        <li>We have a number of options for <a href="https://ethical-ad-client.readthedocs.io/en/latest/#single-page-apps">SPAs</a> to help improve targeting and dynamic ad rotation.</li>
        <li>There are easy ways to show your own promotions when we do not have a paid ad to show or to fallback to another ad network.</li>
      </ul>

      <p class="text-center">For more options, see our <a href="https://ethical-ad-client.readthedocs.io/">ad client docs</a>.</p>
    </div>
  </div>

</section>


<section class="container py-5" id="more-questions">
  <h2 class="font-weight-bold mb-8 text-center">More questions</h2>
  <div class="row mb-5">
    <div class="col-12 col-md-6">
      <h4 class="font-weight-bold">How much will I make?</h4>
      <p>
        Try our <a href="/publishers/calculator/">publisher calculator</a> to get an estimate of your monthly payout.
        Generally publishers see around $2.50 per 1,000 pageviews (CPM),
        assuming most of your traffic is from the EU & North America.
        These numbers will vary based on your audience and topics that you write about.
      </p>
    </div>
    <div class="col-12 col-md-6">
      <h4 class="font-weight-bold">How can I be paid?</h4>
      <p>
        We currently support payment via PayPal, OpenCollective, GitHub Sponsors, or a bank transfer (via Stripe).
        <strong>Our minimum payment to publishers is currently $50</strong>,
        so you need that amount to receive a payment.
      </p>
      <p>See our full <a href="/publisher-policy/#payouts">Payout Policy</a>.</p>
    </div>
  </div>

  <p class="mt-6 text-center">
    Have even more questions? Our <a href="/publishers/faq/">Publisher FAQ</a> has more answers!
  </p>
</section>
{% endblock content %}
