{% extends "page.html" %}


{% block head %}
{{ super() }}

{# Ad Client #}
<script async src="https://media.ethicalads.io/media/client/ethicalads.min.js"></script>
{% endblock head %}


{% block content %}
<section class="position-relative mt-5 mb-10">

  <!-- Content -->
  <div class="container">
    <div class="row align-items-center text-center text-md-left">
      <div class="col-12 col-md-6">

        <!-- Image -->
        <img src="/theme/img/illustrations/illustration-3.png" alt="..." class="img-fluid mw-100 float-right mb-6 mb-md-0" data-aos="fade-right">

      </div>
      <div class="col-12 col-md-6">

        <!-- Heading -->
        <h1 class="display-3 font-weight-light" data-aos="fade-left">Developers: make money with your content while respecting user privacy</h1>

        <!-- Text -->
        <p class="font-size-lg" data-aos="fade-left" data-aos-delay="200">Our ethical ad network shows relevent content on developer-focused sites without being creepy</p>

        <a href="#inbound-form" class="btn btn-primary lift" data-aos="fade-left" data-aos-delay="200">
          <span>Become a publisher</span>
        </a>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->

</section>


<!-- Marketing messaging and featurettes
================================================== -->
<section class="py-10">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 mb-5 mb-md-0 text-center" data-aos="fade-up">

        <!-- Icon -->
        <div class="icon text-primary mb-3">
          <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path d="M5.293 6.707a1 1 0 111.414-1.414l6 6a1 1 0 01.03 1.383l-5.5 6a1 1 0 11-1.474-1.352l4.853-5.294-5.323-5.323z" fill="#335EEA"></path><rect fill="#335EEA" opacity=".3" x="12" y="17" width="10" height="2" rx="1"></rect></g></svg>
        </div>

        <!-- Heading -->
        <h3>Simple Integration</h3>

        <!-- Text -->
        <p class="text-gray-800 mb-6 mb-md-0">Once approved as a publisher, you put a small JavaScript snippet on your site and then start making money right away.</p>

      </div>
      <div class="col-12 col-md-4 mb-5 mb-md-0 text-center" data-aos="fade-up" data-aos-delay="50">

        <!-- Icon -->
        <div class="icon text-primary mb-3">
          <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path fill="#335EEA" opacity=".3" d="M12 20.66l-2.536-.025-2.146-1.35-2.12-1.391-1.075-2.297-1.031-2.316.336-2.513.385-2.507L5.455 6.33l1.68-1.9L9.56 3.69 12 3l2.44.69 2.426.739 1.679 1.9 1.642 1.932.385 2.507.336 2.513-1.03 2.316-1.076 2.297-2.12 1.391-2.146 1.35z"></path><circle fill="#335EEA" opacity=".3" cx="8.5" cy="13.5" r="1.5"></circle><circle fill="#335EEA" opacity=".3" cx="13.5" cy="7.5" r="1.5"></circle><circle fill="#335EEA" opacity=".3" cx="14.5" cy="15.5" r="1.5"></circle></g></svg>
        </div>

        <!-- Heading -->
        <h3>No Cookies</h3>

        <!-- Text -->
        <p class="text-gray-800 mb-6 mb-md-0">We don't use cookies to track users, but we match ads based on the content of your site. This gives your users <strong>ultimate privacy and relevant ads</strong>, the best of both worlds.</p>

      </div>
      <div class="col-12 col-md-4 mb-5 mb-md-0 text-center" data-aos="fade-up" data-aos-delay="100">

        <!-- Icon -->
        <div class="icon text-primary mb-3">
          <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path d="M16.5 4.5c-1.61 0-3.492 1.825-4.5 3-1.008-1.175-2.89-3-4.5-3C4.651 4.5 3 6.722 3 9.55c0 3.133 3 6.45 9 9.95 6-3.5 9-6.75 9-9.75 0-2.828-1.651-5.25-4.5-5.25z" fill="#335EEA" opacity=".3"></path><path d="M12 19.5C6 16 3 12.683 3 9.55 3 6.722 4.651 4.5 7.5 4.5c1.61 0 3.492 1.825 4.5 3v12z" fill="#335EEA"></path></g></svg>
        </div>

        <!-- Heading -->
        <h3>Publisher Friendly</h3>

        <!-- Text -->
        <p class="text-gray-800 mb-0">We started as a publisher, and still run ethical ads on all our sites. We believe in supporting open source, because we're open source devs ourselves.</p>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>



<!-- Sample Ad -->
<!-- ================================================== -->
<section class="py-10">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-md-6 mb-3">
        <h2 class="font-weight-bold mb-8">One tasteful ad</h2>
        <p class="font-size-lg text-gray-800">We only show one ad per page, because developers don't want ads all over their sites. Advertising is a trade-off that we choose, to make our projects more sustainable. We don't compromise on privacy though.</p>
      </div>
      <div class="col-md-6">
        <div class="text-center">
          <div data-ea-publisher="ethicaladsio" data-ea-type="image"></div>
        </div>
        <!-- <p class="small text-muted text-center">(This is a real ad from our network)</p> -->
      </div>

    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>



<!-- Social proof -->
<!-- ================================================== -->
<section class="container py-10">
  <div class="row">
    <div class="col mb-3">
      <h2 class="text-center font-weight-bold mb-8">Over 1 billion ads served since 2016</h2>
      <p class="text-center lead"><strong>Developers</strong> trust our ads because our code is open source, and we're developers ourselves.</p>
      <p class="text-center lead">Read more about <a href="/advertising-vision/">our vision</a> for advertising without invasive tracking.
      <p class="text-center lead">
        <a href="#inbound-form" class="btn btn-primary lift" data-aos="fade-left" data-aos-delay="200">
          <span>Become a publisher today</span>
        </a>
      </p>
    </div>
  </div>
</section>


{% with prospectus=True %}
{% include 'ea/includes/publisher-testimonials.html' %}
{% endwith %}

<!-- FAQ -->
<!-- ================================================== -->
<section class="container py-5">
  <div class="row mb-5">
    <div class="col-12 col-md-6 mb-3">
      <h4 class="font-weight-bold" id="faq-get-started">How do I get started?</h4>
      <p>
        Simply fill out our <a href="#inbound-form">publisher signup</a> form with some information, and we'll get back to you right away.
      </p>
    </div>
    <div class="col-md-6">
      <h4 class="font-weight-bold" id="faq-how-much">How much will I make?</h4>
      <p>
        These numbers will vary based on your audience and topics that you write about.
        Generally we are able to offer around $2-2.50 per 1,000 pageviews (CPM),
        assuming a majority of US and European traffic.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-3">
      <h4 class="font-weight-bold" id="faq-policy">Any policies on showing ads?</h4>
      <p>When you show an ad on your site:</p>
      <ul>
        <li>
          EthicalAds should be the only ad on your site
        </li>
        <li>
          The ad should appear when the user first visits, above the fold, on both desktop and mobile.
        </li>
        <li>
          You are welcome to display a different ad as a fallback if EthicalAds doesn't have an ad to show on your property.
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <h4 class="font-weight-bold" id="faq-payments">How can I be paid?</h4>
      <p>
        We currently support payment via PayPal, OpenCollective, and Wire transfer.
        <strong>Our minimum payment to publishers is currently $50</strong>.
        We're still getting our payment systems automated, so this number will probably get lower in the future.
      </p>
      <p>
      </p>
    </div>
  </div>
  <p class="mt-6 text-center">
      See the additional display and payments details in our <a href="/publisher-policy/">Publisher Policy</a>.
  </p>
</section>


<section class="inbound-form bg-gray-200 py-10" id="inbound-form">
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">

        <!-- Card -->
        <div class="card card-border border-primary shadow-light-lg">
          <div class="card-body">
            <div class="row justify-content-center">
              <div class="col-12 col-xl-11">

                <h2 class="font-weight-bold">Become a publisher today</h2>
                <p class="font-size-lg">Tell us more about you and your site and we'll get back to you about joining our EthicalAds network.</p>

                <!-- Front - Publisher Inquiry Form -->
                <form
                  method="POST"
                  name="fa-form-1"
                  action="https://webhook.frontapp.com/forms/036c4169294f3b04abaa/LhIhHSWLrHiPkcH2jWPX0h2JxpZ1DxV3JMNMHDZaIGf6LdI5zoIK6S2kf9Uc7WWLaCpB7XD06OKLEepCnuv65gQGJaFG9QFD8mvAsxwhUudx-8X1IJXT2rQJuPg"
                  enctype="multipart/form-data"
                  accept-charset="utf-8"
                >
                  <div class="form-group">
                    <label for="name">Your name</label>
                    <input class="form-control" type="text" id="name" name="name" placeholder="Joe Publisher" required>
                  </div>

                  <div class="form-group">
                    <label for="email">Your email</label>
                    <input class="form-control" type="email" id="email" name="email" placeholder="you@yourwebsite.com" required>
                  </div>

                  <div class="form-group">
                    <label for="website">Your site</label>
                    <input class="form-control" type="text" id="website" name="website" placeholder="yourwebsite.com" required>
                  </div>

                  <div class="form-group">
                    <label for="pageviews">Average monthly pageviews</label>
                    <select class="form-control" id="pageviews" name="pageviews" required>
                      <option value="">- Monthly pageviews -</option>
                      <option value="0-10k">Less than 10,000</option>
                      <option value="10-50k">10,000 to 50,000</option>
                      <option value="50-200k">50,000 to 200,000</option>
                      <option value="200k-1M">200,000 to 1,000,000</option>
                      <option value="1M+">1,000,000+</option>
                    </select>
                    <small class="form-text text-muted">On average, how many pageviews per month does your site do?</small>
                  </div>

                  <div class="form-group">
                    <label>Audience category</label>

                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="audience" value="Data science and machine learning" id="datascience">
                      <label class="form-check-label" for="datascience">Data science and machine learning</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="audience" value="Backend web development" id="backend">
                      <label class="form-check-label" for="backend">Backend web development</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="audience" value="Frontend web development" id="frontend">
                      <label class="form-check-label" for="frontend">Frontend web development</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="audience" value="Security and privacy" id="security-privacy">
                      <label class="form-check-label" for="security-privacy">Security and privacy</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="audience" value="DevOps" id="devops">
                      <label class="form-check-label" for="devops">DevOps</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="audience" value="Other (explain in notes)" id="other">
                      <label class="form-check-label" for="other">Other (explain in notes)</label>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="body">Notes</label>
                    <textarea class="form-control" id="body" name="body" required>I'm excited to join the network</textarea>
                    <small class="form-text text-muted">Anything else you'd like us to know?</small>
                  </div>

                  <div class="form-group my-5">
                    {% if page %}<input type="hidden" name="url" value="{{ page.url }}" />{% endif %}
                    <input type="submit" value="Become a publisher" class="btn btn-sm btn-primary">
                    <small class="form-text text-muted">We take privacy seriously and we don't share your email. You aren't going to be added to any mailing lists.</small>
                  </div>
                </form>

              </div>
            </div> <!-- / .row -->
          </div>
        </div>
      </div>
    </div> <!-- / .row -->

  </div>
</section>
{% endblock content %}
