{% extends "page.html" %}


{% block head %}
{{ super() }}

{% include 'ea/includes/ad-client-tag.html' %}

{% endblock head %}


{% block content %}
<section class="position-relative mt-5 mb-10">

  <!-- Content -->
  <div class="container">
    <div class="row align-items-center text-center text-md-left">
      <div class="col-12 col-md-6">

        <!-- Image -->
        <img src="/theme/img/illustrations/illustration-3.png" alt="..." class="img-fluid mw-100 float-right mb-6 mb-md-0" data-aos="fade-right">

      </div>
      <div class="col-12 col-md-6">

        <!-- Heading -->
        <h1 class="display-3 font-weight-light" data-aos="fade-left">Developers: join the ad network without tracking</h1>

        <!-- Text -->
        <p class="font-size-lg" data-aos="fade-left" data-aos-delay="200">Our invite-only network provides developer-focused ads based on your site content.</p>

        <a href="#inbound-form" class="btn btn-primary lift" data-aos="fade-left" data-aos-delay="200">
          <span>Apply now</span>
        </a>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->

</section>

<!-- Marketing messaging and featurettes
================================================== -->
<section class="py-10">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 mb-5 mb-md-0 text-center" data-aos="fade-up">

        <!-- Icon -->
        <div class="icon text-primary mb-3">
          <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M12.843 16h-1.686l-.172.64a4.547 4.547 0 01-8.784-2.354l1.72-6.418A4.547 4.547 0 0112 6.383a4.547 4.547 0 018.08 1.484l1.719 6.419a4.547 4.547 0 01-8.784 2.353L12.843 16zm4.613 2.105c1.507 0 2.729-1.267 2.729-2.83 0-1.564-1.222-2.831-2.729-2.831-1.506 0-2.728 1.267-2.728 2.83 0 1.564 1.222 2.831 2.728 2.831zm-10.912 0c1.506 0 2.728-1.267 2.728-2.83 0-1.564-1.222-2.831-2.728-2.831-1.507 0-2.729 1.267-2.729 2.83 0 1.564 1.222 2.831 2.729 2.831z" fill="#335EEA"/></g></svg>

        </div>

        <!-- Heading -->
        <h3>Developer-focused ads</h3>

        <!-- Text -->
        <p class="text-gray-800 mb-6 mb-md-0">Our reports tell you which relevant, hand-picked advertisers are on your site. <strong>Never worry about distracting ads on your site.</strong></p>

      </div>
      <div class="col-12 col-md-4 mb-5 mb-md-0 text-center" data-aos="fade-up" data-aos-delay="50">

        <!-- Icon -->
        <div class="icon text-primary mb-3">
          <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path d="M5.293 6.707a1 1 0 111.414-1.414l6 6a1 1 0 01.03 1.383l-5.5 6a1 1 0 11-1.474-1.352l4.853-5.294-5.323-5.323z" fill="#335EEA"></path><rect fill="#335EEA" opacity=".3" x="12" y="17" width="10" height="2" rx="1"></rect></g></svg>
        </div>

        <!-- Heading -->
        <h3>No tracking</h3>

        <!-- Text -->
        <p class="text-gray-800 mb-6 mb-md-0">We target ads based on your site content, no tracking required. <strong>Your site deserves GDPR-compliant, beautiful ads. Not cookie banners.</strong> </p>

      </div>
      <div class="col-12 col-md-4 mb-5 mb-md-0 text-center" data-aos="fade-up" data-aos-delay="100">

        <!-- Icon -->
        <div class="icon text-primary mb-3">
          <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path d="M16.5 4.5c-1.61 0-3.492 1.825-4.5 3-1.008-1.175-2.89-3-4.5-3C4.651 4.5 3 6.722 3 9.55c0 3.133 3 6.45 9 9.95 6-3.5 9-6.75 9-9.75 0-2.828-1.651-5.25-4.5-5.25z" fill="#335EEA" opacity=".3"></path><path d="M12 19.5C6 16 3 12.683 3 9.55 3 6.722 4.651 4.5 7.5 4.5c1.61 0 3.492 1.825 4.5 3v12z" fill="#335EEA"></path></g></svg>
        </div>

        <!-- Heading -->
        <h3>Talk to a human</h3>

        <!-- Text -->
        <p class="text-gray-800 mb-0">Our ad network is run by people who understand web publishing and open source. Unlike other networks, <strong>a real human is 1 email away.</strong></p>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>



<!-- Sample Ad -->
<!-- ================================================== -->
<section class="py-10">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-md-6 mb-3">
        <h2 class="font-weight-bold mb-8">One beautiful ad</h2>
        <p class="font-size-lg text-gray-800">We only show one ad, because your site deserves to look great. Rest easy knowing that you fully control how to integrate the ad into your site.</p>
      </div>
      <div class="col-md-6">
        <div class="text-center">
          {% include 'ea/includes/ad-placement.html' %}
        </div>
        <!-- <p class="small text-muted text-center">(This is a real ad from our network)</p> -->
      </div>

    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>



<!-- Social proof -->
<!-- ================================================== -->
<section class="container py-10">
  <div class="row">
    <div class="col mb-3">
      <h2 class="text-center font-weight-bold mb-8">Join the only developer-focused ad network with no tracking</h2>
      <p class="text-center lead"><strong>100+ sites</strong> trust our fully open source, privacy-focused product.</p>
      <p class="text-center lead">Read more about <a href="/advertising-vision/">our vision</a> for advertising without invasive tracking.
      <p class="text-center lead">
        <a href="#inbound-form" class="btn btn-primary lift" data-aos="fade-left" data-aos-delay="200">
          <span>Become a publisher today</span>
        </a>
      </p>
    </div>
  </div>
</section>


<!-- Subpage/topics callout
================================================== -->
<section class="py-10" id="audiences">
  <div class="container">

    <h2 class="text-center font-weight-bold mb-8">Publisher Topics</h2>
    <p class="text-center lead">We focus on a number of different areas for our publishers, allowing our advertisers to target your developer audience.</p>

    <div class="row">

      <!-- Frontend web -->
      <div class="col-12 col-md-6 col-lg-4 p-6 text-center" data-aos="fade-up">
        <div class="icon text-primary mb-3">
          <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path d="M18.5 8a2.5 2.5 0 110-5 2.5 2.5 0 010 5zm0 13a2.5 2.5 0 110-5 2.5 2.5 0 010 5zm-13 0a2.5 2.5 0 110-5 2.5 2.5 0 010 5z" fill="#335EEA" opacity=".3"></path><path d="M5.5 8a2.5 2.5 0 110-5 2.5 2.5 0 010 5zM11 4h2a1 1 0 010 2h-2a1 1 0 010-2zm0 14h2a1 1 0 010 2h-2a1 1 0 010-2zm-6-8a1 1 0 011 1v2a1 1 0 01-2 0v-2a1 1 0 011-1zm14 0a1 1 0 011 1v2a1 1 0 01-2 0v-2a1 1 0 011-1z" fill="#335EEA"></path></g></svg>
        </div>
        <h3>Frontend web & Javascript developers</h3>
        <p class="small"><a href="/publishers/topics/web-developers">Learn more</a></p>
      </div>

      <!-- Backend web -->
      <div class="col-12 col-md-6 col-lg-4 p-6 text-center" data-aos="fade-up" data-aos-delay="50">
        <div class="icon text-primary mb-3">
          <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path d="M9 15H7.5A1.5 1.5 0 109 16.5V15zm0 0V9h6v6H9zm6 1.5a1.5 1.5 0 101.5-1.5H15v1.5zM16.5 9A1.5 1.5 0 1015 7.5V9h1.5zM9 7.5A1.5 1.5 0 107.5 9H9V7.5zm2 5.5h2v-2h-2v2zm2-2V7.5a3.5 3.5 0 113.5 3.5H13zm3.5 2a3.5 3.5 0 11-3.5 3.5V13h3.5zM11 16.5A3.5 3.5 0 117.5 13H11v3.5zM7.5 11A3.5 3.5 0 1111 7.5V11H7.5z" fill="#335EEA"></path></g></svg>
        </div>
        <h3>Backend web & Python developers</h3>
        <p class="small"><a href="/publishers/topics/python/">Learn more</a></p>
      </div>

      <!-- Data Science -->
      <div class="col-12 col-md-6 col-lg-4 p-6 text-center" data-aos="fade-up" data-aos-delay="100">
        <div class="icon text-primary mb-3">
          <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><rect fill="#335EEA" opacity=".3" x="7" y="4" width="3" height="13" rx="1.5"></rect><rect fill="#335EEA" opacity=".3" x="12" y="9" width="3" height="8" rx="1.5"></rect><path d="M5 19h15a1 1 0 010 2H4a1 1 0 01-1-1V4a1 1 0 112 0v15z" fill="#335EEA"></path><rect fill="#335EEA" opacity=".3" x="17" y="11" width="3" height="6" rx="1.5"></rect></g></svg>
        </div>
        <h3>Data scientists</h3>
        <p class="small"><a href="/publishers/topics/data-science/">Learn more</a></p>
      </div>

      <!-- DevOps -->
      <div class="col-12 col-md-6 col-lg-4 p-6 text-center" data-aos="fade-up" data-aos-delay="100">
        <div class="icon text-primary mb-3">
          <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path d="M18.622 9.75h.128a2.25 2.25 0 110 4.5h-.065a.488.488 0 00-.446.295.488.488 0 00.089.54l.045.044a2.25 2.25 0 11-3.183 3.184l-.04-.04a.49.49 0 00-.545-.094.486.486 0 00-.295.444v.127a2.25 2.25 0 11-4.5 0 .524.524 0 00-.363-.514.485.485 0 00-.532.092l-.044.045a2.25 2.25 0 11-3.184-3.183l.04-.04a.49.49 0 00.094-.545.486.486 0 00-.443-.295H5.25a2.25 2.25 0 110-4.5.524.524 0 00.514-.363.485.485 0 00-.092-.532l-.045-.044A2.25 2.25 0 118.81 5.687l.04.04c.142.139.355.177.537.097l.108-.023a.486.486 0 00.255-.423V5.25a2.25 2.25 0 114.5 0v.065c0 .194.117.37.303.449.182.08.395.042.532-.092l.044-.045a2.25 2.25 0 113.184 3.183l-.04.04a.488.488 0 00-.097.537l.023.108a.486.486 0 00.423.255z" fill="#335EEA" opacity=".3"></path><path d="M12 15a3 3 0 100-6 3 3 0 000 6z" fill="#335EEA"></path></g></svg>
        </div>
        <h3>Open source developers</h3>
        <p class="small"><a href="/publishers/topics/open-source/">Learn more</a></p>
      </div>

    </div> <!-- / .row -->

    <p class="text-center">Interested in how our audience classifier works? <a href="/blog/2022/11/a-new-approach-to-content-based-targeting-for-advertising/">Read all about it</a>!</p>
  </div> <!-- / .container -->
</section>

{% include 'ea/includes/publisher-testimonials.html' %}

{% include 'ea/includes/publishers-inbound.html' %}

<!-- FAQ -->
<!-- ================================================== -->
<section class="container py-5">
  <h2 class="font-weight-bold mb-8">Still have questions?</h2>
  <div class="row mb-5">
    <div class="col-12 col-md-6 mb-3">
      <h4 class="font-weight-bold" id="faq-get-started">What are the steps?</h4>
      <ol>
        <li>
          There's no contract to sign.
          <a href="#inbound-form">Fill out the publisher form.</a> Then we'll evaluate your site and get back to you with any questions.
        </li>
        <li>
          Once you're approved, we create an account for you that shows test ads. You integrate our client into your site, let us know, and we review your placement.
        </li>
        <li>
          Once we've approved your site, paid ads start showing. After you've made $50, we send you money!
        </li>
      </ol>
    </div>
    <div class="col-md-6">
      <h4 class="font-weight-bold" id="faq-how-much">How much will I make?</h4>
      <p>
        Generally publishers see around $2.00 per 1,000 pageviews (CPM),
        assuming most of your traffic is from the EU & North America.
        These numbers will vary based on your audience and topics that you write about.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-3">
      <h4 class="font-weight-bold" id="faq-policy">Any important policies?</h4>
      <p>When you show an ad on your site:</p>
      <ul>
        <li>
          EthicalAds should be the only ad network on your site (your own promotions are fine)
        </li>
        <li>
          The ad should appear when the user first visits, above the fold, on both desktop and mobile.
        </li>
        <li>
          The ad should not disrupt the natural reading flow of the page. It should be placed above, beside or below the main content, not within it.
        </li>
      </ul>
      <p>
      See our full <a href="/publisher-policy/#ad-display">Ad Display Policy</a>.
      </p>
    </div>
    <div class="col-md-6">
      <h4 class="font-weight-bold" id="faq-payments">How can I be paid?</h4>
      <p>
        We currently support payment via PayPal, OpenCollective, and Wire transfer.
        <strong>Our minimum payment to publishers is currently $50</strong>,
        so you need that amount to receive a payment.
      </p>
      <p>
        See our full <a href="/publisher-policy/#payouts">Payout Policy</a>.
      </p>
    </div>
  </div>
  <p class="mt-6 text-center">
      Have more questions? Our <a href="/publishers/faq/">Publisher FAQ</a> has more answers!
  </p>
</section>

{% endblock content %}
