<div class="mb-5">
  <h4>Subscribe</h4>
  <p class="small">Want more privacy-focused advertising updates in your inbox? Subscribe to our newsletter to get these and other updates on a regular basis.</p>

  <form class="validate" action="https://ethicalads.us3.list-manage.com/subscribe/post?u=a6a22369cc2b356379cf789ca&amp;id=79ffb01d18" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
    <div class="form-group">
      <label for="mce-EMAIL"><strong>Email</strong></label>
      <input type="email" class="form-control required" id="mce-EMAIL" placeholder="you@domain.com" required>
      <small id="emailHelp" class="form-text text-muted">Your email, after your confirm it, will be shared with Mailchimp</small>
      <div class="d-none" aria-hidden="true"><input type="text" name="b_a6a22369cc2b356379cf789ca_79ffb01d18" tabindex="-1" value=""></div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-warning shadow-none"><span class="fa fa-envelope-o"></span> Subscribe</button>
    </div>
  </form>
</div>

<div class="mb-5">
  <!-- Articles: {{ articles }} -->
  {% if articles %}
    <h4>Recent posts</h4>
    <ul class="list-unstyled ml-2">
    {% for article in articles %}
      {% if loop.index <= 5 %}
        <li class="mb-2"><a href="/{{ article.url }}"><time class="published" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time> - {{ article.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
    </ul>
  {% endif %}
</div>
