{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}


{% block title %}{{ page.title|striptags }} - {{ SITENAME }}{%endblock%}


{% block canonical_rel %}
  {% if SITEURL %}
    <link rel="canonical" href="{{ SITEURL }}/{{ page.url }}" />
    <meta property="og:url" content="{{ SITEURL }}/{{ page.url }}" />
  {% endif %}
{% endblock canonical_rel %}


{% block content %}
<section class="container py-5 mb-10">
  <article class="page">
    <h1 class="font-weight-light display-3">{{ page.title }}</h1>
    {% if page.subtitle %}<p class="lead">{{ page.subtitle }}</p>{% endif %}

    {{ page.content }}
  </article>
</section>
{% endblock content %}
