{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}


{% block title %}{{ page.title|striptags }} - {{ SITENAME }}{%endblock%}


{% block canonical_rel %}
  {% if SITEURL %}
    <link rel="canonical" href="{{ SITEURL }}/{{ page.url }}" />
    <meta property="og:url" content="{{ SITEURL }}/{{ page.url }}" />
  {% endif %}
{% endblock canonical_rel %}


{% block content %}
<section class="container mx-auto px-4 py-12 mb-32">
  <article class="page">
    <h1 class="font-light text-3xl md:text-4xl">{{ page.title }}</h1>
    {% if page.subtitle %}<p class="text-lg md:text-xl">{{ page.subtitle }}</p>{% endif %}

    {{ page.content }}
  </article>
</section>
{% endblock content %}
