<!-- Advertiser Icons
================================================== -->

<div class="advertiser-icons {% if not short %}py-10{%endif %} text-center">

  <div class="row">

    <div class="col-lg-3 col-md-4 col-6 p-5">
      <div class="img-fluid mx-auto my-auto">
        <img src="/images/pages/casestudies/mongodb.svg" alt="MongoDB" />
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-6 p-5">
      <div class="img-fluid mx-auto my-auto">
        <img src="/images/pages/casestudies/algolia.svg" alt="Algolia" />
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-6 p-5">
      <div class="img-fluid mx-auto my-auto">
        <img src="/images/pages/casestudies/snyk.svg" alt="Snyk" />
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-6 p-5">
      <div class="img-fluid mx-auto my-auto">
        <img src="/images/pages/casestudies/catchy.svg" alt="Catchy Agency" />
      </div>
    </div>

    {% if not short %}

    <div class="col-lg-3 col-md-4 col-6 p-5">
      <div class="img-fluid mx-auto my-auto">
        <img src="/images/pages/casestudies/digitalocean.svg" alt="DigitalOcean" />
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-6 p-5">
      <div class="img-fluid mx-auto my-auto">
        <img src="/images/pages/casestudies/lambda.svg" alt="Lambda" />
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-6 p-5">
      <div class="img-fluid mx-auto my-auto">
        <img src="/images/pages/casestudies/tidelift.svg" alt="Tidelift" />
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-6 p-5">
      <div class="img-fluid mx-auto my-auto">
        <img src="/images/pages/casestudies/checkmk.svg" alt="CheckMK" />
      </div>
    </div>

    {% endif %}

  </div><!-- /.row -->

</div>
