<!-- Advertiser testimonials
================================================== -->

<section class="container mx-auto px-4 py-32" id="testimonials">
  <div class="flex flex-wrap -mx-4">
    <div class="flex-1 px-4 mb-4">
      <h2 class="text-center font-bold mb-24">Tech marketers run successful campaigns with EthicalAds</h2>
      <p class="text-center text-lg md:text-xl">Here's what they say about working with us.</p>
    </div>
  </div>


  <div class="main-carousel" data-flickity='{"autoPlay": false, "wrapAround": true, "pageDots": true, "prevNextButtons": true, "autoPlay": 5000}'>

    <!-- Triplebyte -->
    <div class="carousel-cell w-full px-4 col-md-9">
      <div class="bg-white rounded-lg shadow-md border border-gray-100 overflow-hidden dark:bg-gray-800 dark:border-gray-700 card-border shadow-light-lg" style="border-top-color: #4a90e2;">
        <div class="p-6 text-center">

          <!-- Text -->
          <p class="text-gray-700 mb-12 text-lg md:text-xl">"For our clients, EthicalAds has consistently performed very well in cost per lead."</p>

          <!-- Photo -->
          <div class="max-w-full h-auto mb-12 w-25 mx-auto">
            <img class="rounded-full" src="/images/pages/testimonials/catchy-jack.jpg" alt="Jack Hurring from Catchy" />
          </div>

          <h5 class="small text-gray-500">Jack @ Catchy</h5>

          <!-- Link -->
          <div class="mt-12">
            <a href="/advertisers/catchy/">Catchy case study &raquo;</a>

            <div>
              <img class="w-10 mt-2 max-w-full h-auto" src="/images/pages/testimonials/catchy-icon.png" alt="Catchy logo">
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- SuperOrbital -->
    <div class="carousel-cell w-full px-4 col-md-9">
      <div class="bg-white rounded-lg shadow-md border border-gray-100 overflow-hidden dark:bg-gray-800 dark:border-gray-700 card-border shadow-light-lg" style="border-top-color: #e8911a;">
        <div class="p-6 text-center">

          <!-- Text -->
          <p class="text-gray-700 mb-12 text-lg md:text-xl">"Seriously, EthicalAds has been such a pleasure to work with!"</p>

          <br> <!-- Line up the text with the photo -->

          <!-- Photo -->
          <div class="max-w-full h-auto mb-12 w-25 mx-auto">
            <img class="rounded-full" src="/images/pages/testimonials/superorbital-lexi.jpg" alt="Lexi Lambert from SuperOrbital" />
          </div>

          <h5 class="small text-gray-500">Lexi @ SuperOrbital</h5>


          <!-- Link -->
          <div class="mt-12">
            <a href="/advertisers/superorbital/">SuperOrbital case study &raquo;</a>

            <div>
              <img class="w-10 mt-2 max-w-full h-auto" src="/images/pages/testimonials/superorbital-logo.svg" alt="SuperOrbital logo">
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Tidelift -->
    <div class="carousel-cell w-full px-4 col-md-9">
      <div class="bg-white rounded-lg shadow-md border border-gray-100 overflow-hidden dark:bg-gray-800 dark:border-gray-700 card-border shadow-light-lg" style="border-top-color: #4b5168;">
        <div class="p-6 text-center">

          <!-- Text -->
          <p class="text-gray-700 mb-12 text-lg md:text-xl">"The CPL is much lower than other digital ads, and the audience is tailored to our mission."</p>

          <!-- Photo -->
          <div class="max-w-full h-auto mb-12 w-25 mx-auto">
            <img class="rounded-full" src="/images/pages/testimonials/tidelift-amy.jpg" alt="Amy Hays from Tidelift" />
          </div>

          <h5 class="small text-gray-500">Amy @ Tidelift</h5>


          <!-- Link -->
          <div class="mt-12">
            <a href="/advertisers/tidelift/">Tidelift case study &raquo;</a>

            <div>
              <img class="w-10 mt-2 max-w-full h-auto" src="/images/pages/casestudies/tidelift.svg" alt="Tidelift logo">
            </div>
          </div>

        </div>
      </div>
    </div>

  </div> <!-- /.flickity -->


  <div class="py-12 mt-32">
    <h4 class="font-bold mb-24 text-center">Looking for what kinds of ads worked well for other advertisers across our network?</h4>
    <p class="text-center">
      <a href="/advertisers/creatives-that-convert/" class="inline-block font-bold rounded transition-colors border border-primary text-primary hover:bg-primary hover:text-white px-4 py-2 text-sm px-3 py-1">
        <span>Get our "Creatives that Convert" guide</span>
      </a>
    </p>
  </div>

  {% include 'ea/includes/advertiser-icons.html' %}

</section><!-- /.container -->
