{# Set the following variables to pre-check various values: #}
{#   inbound_form_datascience #}
{#   inbound_form_backend #}
{#   inbound_form_frontend #}
{#   inbound_form_security #}
{#   inbound_form_devops #}

<section class="inbound-form bg-gray-200 py-10" id="inbound-form">
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">

        <!-- Card -->
        <div class="card card-border border-primary shadow-light-lg">
          <div class="card-body">
            <div class="row justify-content-center">
              <div class="col-12 col-xl-11">

                <h2 class="font-weight-bold">{% if page.inbound_form_title %}{{ page.inbound_form_title }}{% else %}Advertise across our network{% endif %}</h2>
                <p class="font-size-lg">{% if page.inbound_form_subtitle %}{{ page.inbound_form_subtitle }}{% else %}Start growing your business with our network today. Tell us a bit more about the campaign you want to run and an ad specialist will be in touch.{% endif %}</p>

                <!-- Front - Adveriter Inquiry Form -->
                <form
                  method="POST"
                  name="fa-form-1"
                  action="https://webhook.frontapp.com/forms/036c4169294f3b04abaa/Kj948M2jCSE2BGi1jdHUJIf19c60Sgyuz5pht5P-JZljD5fhGM5CVaK0t3rjLOZoXXMi5vU0OSPl4L0fjwr6UysZtRIZ5OyfEqjHDJFQsEenpUNT7c1EQtUbb5s"
                  enctype="multipart/form-data"
                  accept-charset="utf-8"
                >
                  <div class="form-group">
                    <label for="name">Your name</label>
                    <input class="form-control" type="text" id="name" name="name" placeholder="Joe Advertiser" required>
                  </div>

                  <div class="form-group">
                    <label for="email">Your email</label>
                    <input class="form-control" type="email" id="email" name="email" placeholder="you@yourcompany.com" {% include 'ea/includes/restrict-emails-attributes.html' %} required>
                  </div>

                  <div class="form-group">
                    <label for="company">Your company</label>
                    <input class="form-control" type="text" id="company" name="company" required>
                  </div>

                  <div class="form-group">
                    <label>Geographic focus</label>

                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="geography" value="US, Canada, UK, Australia, New Zealand, Ireland" id="geo-eng" data-bind="checked: passed_region === 'eng' || passed_region === 'blend'">
                      <label class="form-check-label" for="geo-eng">US, Canada, UK, Australia, New Zealand, Ireland</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="geography" value="Western Europe" id="geo-weu" data-bind="checked: passed_region === 'weu' || passed_region === 'blend'">
                      <label class="form-check-label" for="geo-weu">Western Europe</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="geography" value="Asia Pacific" id="geo-apac" data-bind="checked: passed_region === 'eeu-apac'">
                      <label class="form-check-label" for="geo-apac">Asia Pacific</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="geography" value="Global" id="geo-global" data-bind="checked: passed_region === 'global'">
                      <label class="form-check-label" for="geo-global">Global</label>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Topic focus</label>

                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="audience" value="Data science and machine learning" id="datascience" {% if page.inbound_form_datascience %}checked{% endif %}  data-bind="checked: passed_topic === 'datascience'">
                      <label class="form-check-label" for="datascience">Data science and machine learning</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="audience" value="Backend web development" id="backend" {% if page.inbound_form_backend %}checked{% endif %} data-bind="checked: passed_topic === 'backend'">
                      <label class="form-check-label" for="backend">Backend web development</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="audience" value="Frontend web development" id="frontend" {% if page.inbound_form_frontend %}checked{% endif %} data-bind="checked: passed_topic === 'frontend'">
                      <label class="form-check-label" for="frontend">Frontend web development</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="audience" value="Security and privacy" id="security-privacy" {% if page.inbound_form_security %}checked{% endif %} data-bind="checked: passed_topic === 'security'">
                      <label class="form-check-label" for="security-privacy">Security and privacy</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="audience" value="DevOps" id="devops" {% if page.inbound_form_devops %}checked{% endif %} data-bind="checked: passed_topic === 'devops'">
                      <label class="form-check-label" for="devops">DevOps</label>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="budget">Monthly budget</label>
                    <select class="form-control" id="budget" name="budget" data-bind="value: getSelectedBudget()">
                      <option value="">- Monthly budget -</option>
                      <option value="500-1k">$500 to $1,000</option>
                      <option value="1-3k">$1,000 to $3,000</option>
                      <option value="3-5k">$3,000 to $5,000</option>
                      <option value="5-25k+">$5,000 to $25,000</option>
                      <option value="25k+">$25,000+</option>
                    </select>
                    <small class="form-text text-muted">There's a 10% discount for campaigns of $3,000 or more and 15% for $25,000 or more over a quarter.</small>
                  </div>


                  <div class="form-group">
                    <label for="referral">How did you hear about us?</label>
                    <select class="form-control" id="referral" name="referral" data-bind="value: referral">
                      <option value="">- We'd love to know -</option>
                      <option value="search-engine">Search Engine / Google</option>
                      <option value="hackernews">Hacker News</option>
                      <option value="saw-your-ads">Saw EthicalAds on another website</option>
                      <option value="other">Other (specify)</option>
                    </select>
                  </div>

                  <div class="form-group" data-bind="visible: referral() == 'other'">
                    <label for="referral-other">Please specify</label>
                    <textarea class="form-control" id="referral-other" name="referral-other" placeholder="You were mentioned in a Twitter post"></textarea>
                  </div>

                  <div class="form-group">
                    <label for="advertising-goals">What are your advertising goals?</label>
                    <textarea class="form-control" id="advertising-goals" name="advertising-goals" placeholder="I'm trying to promote the free trial of my product that helps with Docker and Kubernetes deployments to DevOps developers."></textarea>
                  </div>

                  <div class="form-group">
                    <label>How can we help accomplish your goals best?</label>

                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="discuss-or-self-serve" value="Discuss my campaign with an ad specialist" id="discuss-talk-to-a-human" checked="checked">
                      <label class="form-check-label" for="discuss-talk-to-a-human">Discuss my campaign with an ad specialist</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="discuss-or-self-serve" value="Start a self-serve campaign" id="discuss-self-serve-campaign">
                      <label class="form-check-label" for="discuss-self-serve-campaign">Start an (almost) self-serve campaign</label>
                    </div>
                  </div>

                  <div class="form-group my-5">
                    <input type="hidden" name="body" value="EthicalAds.io advertising inquiry" />
                    <input type="hidden" name="calculator-url" data-bind="value: calculator_url" />
                    {% if page %}<input type="hidden" name="url" value="{{ page.url }}" />{% endif %}
                    <input type="submit" value="Get more info" class="btn btn-sm btn-primary">
                    <small class="form-text text-muted">We take privacy seriously and we don't share your email. You aren't going to be added to any mailing lists.</small>
                  </div>
                </form>

              </div>
            </div> <!-- / .row -->
          </div>
        </div>
      </div>
    </div> <!-- / .row -->

  </div>
</section>
