<!-- Advertiser Icons
================================================== -->

<div class="advertiser-icons {% if not short %}py-10{%endif %} text-center">

  <div class="row">

    <div class="col-lg-3 col-md-4 col-6 p-5">
      <div class="img-fluid mx-auto my-auto">
        <img src="/images/pages/casestudies/sentry.svg" alt="Sentry" />
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-6 p-5">
      <div class="img-fluid mx-auto my-auto">
        <img src="/images/pages/casestudies/datadog.svg" alt="Datadog" />
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-6 p-5">
      <div class="img-fluid mx-auto my-auto">
        <img src="/images/pages/casestudies/triplebyte.svg" alt="Triplebyte" />
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-6 p-5">
      <div class="img-fluid mx-auto my-auto">
        <img src="/images/pages/casestudies/intel.svg" alt="Intel" />
      </div>
    </div>

    {% if not short %}

    <div class="col-lg-3 col-md-4 col-6 p-5">
      <div class="img-fluid mx-auto my-auto">
        <img src="/images/pages/casestudies/digitalocean.svg" alt="DigitalOcean" />
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-6 p-5">
      <div class="img-fluid mx-auto my-auto">
        <img src="/images/pages/casestudies/jetbrains.svg" alt="Jetbrains" />
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-6 p-5">
      <div class="img-fluid mx-auto my-auto">
        <img src="/images/pages/casestudies/tidelift.svg" alt="Tidelift" />
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-6 p-5">
      <div class="img-fluid mx-auto my-auto">
        <img src="/images/pages/casestudies/buildkite.svg" alt="Buildkite" />
      </div>
    </div>

    {% endif %}

  </div><!-- /.row -->

</div>
