<!-- Advertiser Icons
================================================== -->

<div class="advertiser-icons {% if not short %}py-10{%endif %} text-center">

  <div class="flex flex-wrap -mx-4">

    <div class="w-full lg:w-1/4 px-4 md:w-1/3 col-6 p-12">
      <div class="max-w-full h-auto mx-auto my-auto">
        <img src="/images/pages/casestudies/mongodb.svg" alt="MongoDB" />
      </div>
    </div>

    <div class="w-full lg:w-1/4 px-4 md:w-1/3 col-6 p-12">
      <div class="max-w-full h-auto mx-auto my-auto">
        <img src="/images/pages/casestudies/algolia.svg" alt="Algolia" />
      </div>
    </div>

    <div class="w-full lg:w-1/4 px-4 md:w-1/3 col-6 p-12">
      <div class="max-w-full h-auto mx-auto my-auto">
        <img src="/images/pages/casestudies/snyk.svg" alt="Snyk" />
      </div>
    </div>

    <div class="w-full lg:w-1/4 px-4 md:w-1/3 col-6 p-12">
      <div class="max-w-full h-auto mx-auto my-auto">
        <img src="/images/pages/casestudies/catchy.svg" alt="Catchy Agency" />
      </div>
    </div>

    {% if not short %}

    <div class="w-full lg:w-1/4 px-4 md:w-1/3 col-6 p-12">
      <div class="max-w-full h-auto mx-auto my-auto">
        <img src="/images/pages/casestudies/digitalocean.svg" alt="DigitalOcean" />
      </div>
    </div>

    <div class="w-full lg:w-1/4 px-4 md:w-1/3 col-6 p-12">
      <div class="max-w-full h-auto mx-auto my-auto">
        <img src="/images/pages/casestudies/lambda.svg" alt="Lambda" />
      </div>
    </div>

    <div class="w-full lg:w-1/4 px-4 md:w-1/3 col-6 p-12">
      <div class="max-w-full h-auto mx-auto my-auto">
        <img src="/images/pages/casestudies/tidelift.svg" alt="Tidelift" />
      </div>
    </div>

    <div class="w-full lg:w-1/4 px-4 md:w-1/3 col-6 p-12">
      <div class="max-w-full h-auto mx-auto my-auto">
        <img src="/images/pages/casestudies/checkmk.svg" alt="CheckMK" />
      </div>
    </div>

    {% endif %}

  </div><!-- /.row -->

</div>
