<section class="inbound-form py-5" id="inbound-form">
  <div class="container">
    <div class="form-container">
      <h4>Advertise across our network</h4>
      <p>Start growing your business with our network today.</p>

      <!-- Front - Advertiser Inquiry Form -->
      <form
        method="POST"
        name="fa-form-1"
        action="https://webhook.frontapp.com/forms/036c4169294f3b04abaa/Kj948M2jCSE2BGi1jdHUJIf19c60Sgyuz5pht5P-JZljD5fhGM5CVaK0t3rjLOZoXXMi5vU0OSPl4L0fjwr6UysZtRIZ5OyfEqjHDJFQsEenpUNT7c1EQtUbb5s"
        enctype="multipart/form-data"
        accept-charset="utf-8"
      >
        <div class="form-group">
          <label for="name">Your name</label>
          <input class="form-control" type="text" id="name" name="name" placeholder="Joe Advertiser" required>
        </div>

        <div class="form-group">
          <label for="email">Your email</label>
          <input class="form-control" type="email" id="email" name="email" placeholder="you@yourcompany.com" required>
        </div>

        <div class="form-group">
          <label for="company">Your company</label>
          <input class="form-control" type="text" id="company" name="company" required>
        </div>

        <div class="form-group">
          <label for="company">Package</label>
            <select class="form-control" id="package" name="package">
              <option>---</option>
              <option>Startup</option>
              <option>Pro</option>
              <option>Custom</option>
            </select>
        </div>

        <div class="form-group">
          <label>Geographic focus</label>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="geography" value="US and Canada" id="geo-usca">
            <label class="form-check-label" for="geo-usca">US and Canada</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="geography" value="Europe" id="geo-eu">
            <label class="form-check-label" for="geo-eu">Europe</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="geography" value="Asia Pacific" id="geo-apac">
            <label class="form-check-label" for="geo-apac">Asia Pacific</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="geography" value="Other" id="geo-other">
            <label class="form-check-label" for="geo-other">Other (explain in comments)</label>
          </div>
        </div>

        <div class="form-group">
          <label>Topic focus</label>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="audience" value="Data science and machine learning" id="datascience">
            <label class="form-check-label" for="datascience">Data science and machine learning</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="audience" value="Backend web development" id="backend">
            <label class="form-check-label" for="backend">Backend web development</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="audience" value="Frontend web development" id="frontend">
            <label class="form-check-label" for="frontend">Frontend web development</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="audience" value="Security and privacy" id="security-privacy">
            <label class="form-check-label" for="security-privacy">Security and privacy</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="audience" value="DevOps" id="devops">
            <label class="form-check-label" for="devops">DevOps</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="audience" value="Other (explain in comments)" id="other">
            <label class="form-check-label" for="other">Other (explain in comments)</label>
          </div>
        </div>

        <div class="form-group">
          <label for="body">Comments</label>
          <textarea class="form-control" id="body" name="body" required placeholder="I'm excited to advertise across the network"></textarea>
          <small class="form-text">Anything other information that would be useful?</small>
        </div>

        <div class="form-group my-5">
          {% if page %}<input type="hidden" name="url" value="{{ page.url }}" />{% endif %}
          <input type="submit" value="Get more info" class="btn btn-warning">
          <small class="form-text">We take privacy seriously and we don't share your email. You aren't going to be added to any mailing lists.</small>
        </div>
      </form>
    </div>
  </div>
</section>
