<!-- Advertiser testimonials
================================================== -->

<section class="container py-10" id="testimonials">
  <div class="row">
    <div class="col mb-3">
      <h2 class="text-center font-weight-bold mb-8">Tech marketers run successful campaigns with EthicalAds</h2>
      <p class="text-center lead">We've helped hundreds of marketers reach developers and meet their advertising goals. Here's what they say about working with us.</p>
    </div>
  </div>


  <div class="card-deck">

    <!-- Triplebyte -->
    <div class="card card-border shadow-light-lg" style="border-top-color: #4a90e2;">
      <div class="card-body text-center">

        <!-- Text -->
        <p class="text-gray-700 mb-5 small">"EthicalAds has been a great way to directly get Triplebyte in front of job-seeking developers."</p>

        <!-- Photo -->
        <div class="img-fluid mb-5 w-25 mx-auto">
          <img class="rounded-circle" src="/images/pages/testimonials/triplebyte-amy.jpg" alt="Amy Dwarnick from Triplebyte" />
        </div>

        <h5 class="small text-muted">Amy @ Triplebyte</h5>


        <!-- Link -->
        <div class="mt-5">
          <a href="/advertisers/triplebyte/">Learn more &raquo;</a>
        </div>

      </div>
    </div>



    <!-- SuperOrbital -->
    <div class="card card-border shadow-light-lg" style="border-top-color: #e8911a;">
      <div class="card-body text-center">

        <!-- Text -->
        <p class="text-gray-700 mb-5 small">"Seriously, EthicalAds has been such a pleasure to work with!"</p>

        <!-- Photo -->
        <div class="img-fluid mb-5 w-25 mx-auto">
          <img class="rounded-circle" src="/images/pages/testimonials/superorbital-lexi.jpg" alt="Lexi Lambert from SuperOrbital" />
        </div>

        <h5 class="small text-muted">Lexi @ SuperOrbital</h5>


        <!-- Link -->
        <div class="mt-5">
          <a href="/advertisers/superorbital/">Learn more &raquo;</a>
        </div>

      </div>
    </div>


    <!-- Tidelift -->
    <div class="card card-border shadow-light-lg" style="border-top-color: #4b5168;">
      <div class="card-body text-center">

        <!-- Text -->
        <p class="text-gray-700 mb-5 small">"The CPL is much lower than other digital advertisement offers, and the audience is tailored to our mission."</p>

        <!-- Photo -->
        <div class="img-fluid mb-5 w-25 mx-auto">
          <img class="rounded-circle" src="/images/pages/testimonials/tidelift-amy.jpg" alt="Amy Hays from Tidelift" />
        </div>

        <h5 class="small text-muted">Amy @ Tidelift</h5>


        <!-- Link -->
        <div class="mt-5">
          <a href="/advertisers/tidelift/">Learn more &raquo;</a>
        </div>

      </div>
    </div>

  </div><!-- /.card-deck -->

  {% include 'ea/includes/advertiser-icons.html' %}

</section><!-- /.container -->
