{# Set the following variables to customize: #}
{#   contact_footer_subject - subject line of the email and displayed in the form #}
{#   contact_footer_subheadline - sub headline of the form #}
{#   contact_form_action - set to a custom form action to direct the destination #}
{#   contact_footer_why - add a "why" field with this label #}
{#   contact_restrict_email - restrict emails from public email providers (default false) #}
{#   contact_submit_text - customize the "submit" button text #}
{#   pcontact_submit_helptext - help text below the submit button #}


<section class="inbound-form py-32" id="inbound-form">
  <div class="container mx-auto px-4">

    <div class="flex flex-wrap -mx-4 justify-center">
      <div class="w-full px-4 col-md-10 lg:w-2/3">

        <!-- Card -->
        <div class="bg-white rounded-lg shadow-md border border-gray-100 overflow-hidden dark:bg-gray-800 dark:border-gray-700 card-border border-primary shadow-light-lg">
          <div class="p-6">
            <div class="flex flex-wrap -mx-4 justify-center">
              <div class="w-full px-4 col-xl-11">

                <h2 class="font-bold">{{ page.contact_footer_subject }}</h2>
                <p class="font-size-lg">{{ page.contact_footer_subheadline }}</p>

                <!-- Front - Ads General/Press Inquiry Form -->
                <form
                  method="POST"
                  name="fa-form-1"
                  action="{% if page.contact_form_action %}{{ page.contact_form_action }}{% else %}https://webhook.frontapp.com/forms/036c4169294f3b04abaa/DuKS0GvCzn12Ok6ut39qdXF14M7Xq3c9dw0P-FijQO86l_7eSJ0aa874H0r-NmLPI2QXYh6HUTncyk-9ET8X9SKh5zZPdKP-hBsFPPXBOZQUk95-7o6sGdRBLrY{% endif %}"
                  enctype="multipart/form-data"
                  accept-charset="utf-8"
                >
                  {% if page %}
                  <input type="hidden" name="title" value="{{ page.title }}" />
                  <input type="hidden" name="url" value="{{ page.url }}" />
                  {% endif %}
                  <input type="hidden" name="subject" value="{% if page.contact_footer_subject %}{{ page.contact_footer_subject }}{% else %}EthicalAds press inquiry{% endif %}">
                  <input type="hidden" name="body" value="Content embedded below">

                  <div class="form-group">
                    <label for="name">Your name</label>
                    <input class="form-control" type="text" id="name" name="name" required>
                  </div>

                  <div class="form-group">
                    <label for="email">Your email</label>
                    <input class="form-control" type="email" id="email" name="email" placeholder="you@yourcompany.com" {% if page.contact_restrict_email %}{% include 'ea/includes/restrict-emails-attributes.html' %}{% endif %} required>
                  </div>

                  {% if page.contact_footer_why %}
                  <div class="form-group">
                    <label for="why">{{ page.contact_footer_why }}</label>
                    <textarea class="form-control" id="why" name="why" required></textarea>
                  </div>
                  {% endif %}

                  <div class="form-group my-12">
                    <input type="submit" value="{% if page.contact_submit_text %}{{ page.contact_submit_text }}{% else %}Submit Inquiry{% endif %}" class="inline-block font-bold rounded transition-colors text-sm px-3 py-1 bg-primary hover:bg-primary-dark text-white px-4 py-2">
                    {% if page.contact_submit_helptext %}
                    <small class="form-text text-gray-500">{{ page.contact_submit_helptext }}</small>
                    {% endif %}
                  </div>
                </form>

              </div>
            </div> <!-- / .row -->
          </div>
        </div>
      </div>
    </div> <!-- / .row -->

  </div>
</section>
