{# Set the following variables to customize: #}
{#   contact_footer_subject - subject line of the email and displayed in the form #}
{#   contact_footer_subheadline - sub headline of the form #}
{#   contact_form_action - set to a custom form action to direct the destination #}
{#   contact_footer_why - add a "why" field with this label #}
{#   contact_submit_text - customize the "submit" button text #}
{#   pcontact_submit_helptext - help text below the submit button #}


<section class="inbound-form py-10" id="inbound-form">
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">

        <!-- Card -->
        <div class="card card-border border-primary shadow-light-lg">
          <div class="card-body">
            <div class="row justify-content-center">
              <div class="col-12 col-xl-11">

                <h2 class="font-weight-bold">{{ page.contact_footer_subject }}</h2>
                <p class="font-size-lg">{{ page.contact_footer_subheadline }}</p>

                <!-- Front - Ads General/Press Inquiry Form -->
                <form
                  method="POST"
                  name="fa-form-1"
                  action="{% if page.contact_form_action %}{{ page.contact_form_action }}{% else %}https://webhook.frontapp.com/forms/036c4169294f3b04abaa/DuKS0GvCzn12Ok6ut39qdXF14M7Xq3c9dw0P-FijQO86l_7eSJ0aa874H0r-NmLPI2QXYh6HUTncyk-9ET8X9SKh5zZPdKP-hBsFPPXBOZQUk95-7o6sGdRBLrY{% endif %}"
                  enctype="multipart/form-data"
                  accept-charset="utf-8"
                >
                  {% if page %}
                  <input type="hidden" name="title" value="{{ page.title }}" />
                  <input type="hidden" name="url" value="{{ page.url }}" />
                  {% endif %}
                  <input type="hidden" name="subject" value="{% if page.contact_footer_subject %}{{ page.contact_footer_subject }}{% else %}EthicalAds press inquiry{% endif %}">
                  <input type="hidden" name="body" value="Content embedded below">

                  <div class="form-group">
                    <label for="name">Your name</label>
                    <input class="form-control" type="text" id="name" name="name" required>
                  </div>

                  <div class="form-group">
                    <label for="email">Your email</label>
                    <input class="form-control" type="email" id="email" name="email" placeholder="you@yourcompany.com" required>
                  </div>

                  {% if page.contact_footer_why %}
                  <div class="form-group">
                    <label for="why">{{ page.contact_footer_why }}</label>
                    <textarea class="form-control" id="why" name="why" required></textarea>
                  </div>
                  {% endif %}

                  <div class="form-group my-5">
                    <input type="submit" value="{% if page.contact_submit_text %}{{ page.contact_submit_text }}{% else %}Submit Inquiry{% endif %}" class="btn btn-sm btn-primary">
                    {% if page.contact_submit_helptext %}
                    <small class="form-text text-muted">{{ page.contact_submit_helptext }}</small>
                    {% endif %}
                  </div>
                </form>

              </div>
            </div> <!-- / .row -->
          </div>
        </div>
      </div>
    </div> <!-- / .row -->

  </div>
</section>
