<section id="pricing" class="pricing py-10">
  <div class="container">
    <div class="row">
      <div class="col mb-8">
        <h2 class="text-center font-weight-bold mb-4">Pricing for Q4 2021</h2>
        <p class="text-center">Prices are per thousand impressions (CPM) with a $1,000 minimum ad buy.</p>
        <p class="text-center">For other region prices or customizations, see our <a href="/prospectus/ethicalads-advertiser-prospectus.pdf">prospectus</a> for details.</p>
        <p class="text-center">We offer an automatic 10% discount for ad buys of $3,000 or more.</p>
      </div>
    </div>

    <div class="form-row">
      <div class="col-12">

        <div class="table-responsive">

          <table class="table table-sm table-striped">

            <thead>
              <tr>
                <th scope="col">Topic</th>
                <th scope="col" class="text-center">US &amp; Canada only</th>
                <th scope="col" class="text-center">US, Canada, Europe,<br> Australia, &amp; New Zealand</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <th scope="row">Data science / machine learning</th>
                <td class="text-center">$6.00</td>
                <td class="text-center">$5.50</td>
              </tr>
              <tr>
                <th scope="row">Security / privacy</th>
                <td class="text-center">$5.50</td>
                <td class="text-center">$5.00</td>
              </tr>
              <tr>
                <th scope="row">DevOps</th>
                <td class="text-center">$5.50</td>
                <td class="text-center">$5.00</td>
              </tr>
              <tr>
                <th scope="row">Backend web development</th>
                <td class="text-center">$5.00</td>
                <td class="text-center">$4.50</td>
              </tr>
              <tr>
                <th scope="row">Frontend web / JavaScript</th>
                <td class="text-center">$5.00</td>
                <td class="text-center">$4.50</td>
              </tr>
              <tr>
                <th scope="row">Python</th>
                <td class="text-center">$5.00</td>
                <td class="text-center">$4.50</td>
              </tr>
              <tr>
                <th scope="row">Geographic targeting only</th>
                <td class="text-center">$4.40</td>
                <td class="text-center">$3.80</td>
              </tr>
            </tbody>

          </table>

        </div> <!-- /.table-responsive -->
      </div>

    </div> <!-- / .row -->

    <p class="text-center">
      <a href="/advertisers/#inbound-form" class="btn btn-primary lift">
        <span>Start a campaign</span>
      </a>
    </p>
  </div>
</section>
