<section class="inbound-form bg-gray-200 py-10" id="inbound-form">
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">

        <!-- Card -->
        <div class="card card-border border-primary shadow-light-lg">
          <div class="card-body">
            <div class="row justify-content-center">
              <div class="col-12 col-xl-11">

                <h2 class="font-weight-bold">{% if inbound_form_title %}{{ inbound_form_title }}{% else %}Apply to be publisher today{% endif %}</h2>
                <p class="font-size-lg">{% if inbound_form_subtitle %}{{ inbound_form_title }}{% else %}Tell us more about you and your site and a member of our team will get back to you about joining the EthicalAds network.{% endif %}</p>

                <!-- Front - Publisher Inquiry Form -->
                <form
                  method="POST"
                  name="fa-form-1"
                  action="https://webhook.frontapp.com/forms/036c4169294f3b04abaa/LhIhHSWLrHiPkcH2jWPX0h2JxpZ1DxV3JMNMHDZaIGf6LdI5zoIK6S2kf9Uc7WWLaCpB7XD06OKLEepCnuv65gQGJaFG9QFD8mvAsxwhUudx-8X1IJXT2rQJuPg"
                  enctype="multipart/form-data"
                  accept-charset="utf-8"
                >
                  <div class="form-group">
                    <label for="name">Your name</label>
                    <input class="form-control" type="text" id="name" name="name" placeholder="Joe Publisher" required>
                  </div>

                  <div class="form-group">
                    <label for="email">Your email</label>
                    <input class="form-control" type="email" id="email" name="email" placeholder="you@yourwebsite.com" required>
                  </div>

                  <div class="form-group">
                    <label for="website">Your site</label>
                    <input class="form-control" type="text" id="website" name="website" placeholder="yourwebsite.com" required>
                  </div>

                  <div class="form-group">
                    <label for="pageviews">Average monthly pageviews</label>
                    <select class="form-control" id="pageviews" name="pageviews" required>
                      <option value="">- Monthly pageviews -</option>
                      <option value="0-10k">Less than 10,000</option>
                      <option value="10-50k">10,000 to 50,000</option>
                      <option value="50-200k">50,000 to 200,000</option>
                      <option value="200k-1M">200,000 to 1,000,000</option>
                      <option value="1M+">1,000,000+</option>
                    </select>
                    <small class="form-text text-muted">On average, how many pageviews per month does your site do?</small>
                  </div>

                  <div class="form-group">
                    <label>Audience category</label>

                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="audience" value="Data science and machine learning" id="datascience">
                      <label class="form-check-label" for="datascience">Data science and machine learning</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="audience" value="Backend web development" id="backend">
                      <label class="form-check-label" for="backend">Backend web development</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="audience" value="Frontend web development" id="frontend">
                      <label class="form-check-label" for="frontend">Frontend web development</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="audience" value="Security and privacy" id="security-privacy">
                      <label class="form-check-label" for="security-privacy">Security and privacy</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="audience" value="DevOps" id="devops">
                      <label class="form-check-label" for="devops">DevOps</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="audience" value="Other (explain in notes)" id="other">
                      <label class="form-check-label" for="other">Other (explain in notes)</label>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="notes">Notes</label>
                    <textarea class="form-control" id="notes" name="notes" placeholder="My traffic is mostly located in Europe" ></textarea>
                    <small class="form-text text-muted">Anything else you'd like us to know?</small>
                  </div>

                  <div class="form-group my-5">
                    <input type="hidden" name="body" value="Incoming publisher request">
                    {% if page %}<input type="hidden" name="url" value="{{ page.url }}" />{% endif %}
                    <input type="submit" value="Apply to be a publisher" class="btn btn-sm btn-primary">
                    <small class="form-text text-muted">We take privacy seriously and we don't share your email. You aren't going to be added to any mailing lists.</small>
                  </div>
                </form>

              </div>
            </div> <!-- / .row -->
          </div>
        </div>
      </div>
    </div> <!-- / .row -->

  </div>
</section>