<!-- Publisher Examples
================================================== -->

<section class="container marketing py-10 text-center">

  <h2 class="font-weight-bold mb-8">You're in great company</h2>

  <p class="font-size-lg text-gray-800 w-75 mx-auto mb-7 mb-md-9">These developer-focused sites have found great success with EthicalAds. You will too!</p>

  <!-- Three columns of text below the carousel -->
  <div class="row">

    <div class="col-lg-4 col-md-6 mb-3 mb-5 mb-lg-0">

      <div class="card card-border shadow-light-lg" style="border-top-color: #2aa8b0;">
        <div class="card-body text-center">

          <!-- Icon -->
          <div class="img-fluid mb-8 w-100 mx-auto">
            <a href="https://eslint.org/">
              <img src="/theme/img/eslint.svg" alt="ESLint" />
            </a>
          </div>

          {% if not short %}
            <!-- Text -->
            <p class="text-gray-700 mb-5 small">ESLint, a static analyzer for JavaScript code, uses EthicalAds because of our commitment to privacy and transparency.</p>
          {% endif %}

          <!-- Link -->
          <a href="/publishers/eslint/">{% if short %}ESLint{% else %}Learn more{% endif %} &raquo;</a>

        </div>
      </div>
    </div><!-- /.col-md-4 -->

    <div class="col-lg-4 col-md-6 mb-3 mb-5 mb-lg-0">

      <div class="card card-border shadow-light-lg" style="border-top-color: #8ECC4C;">
        <div class="card-body text-center">

          <!-- Icon -->
          <div class="img-fluid mb-5 mx-auto">
            <a href="https://daily.dev/">
              <img src="/images/pages/testimonials/dailydev.png" alt="daily.dev" style="height: 100px" />
            </a>
          </div>

          {% if not short %}
            <!-- Text -->
            <p class="text-gray-700 mb-5 small">daily.dev uses EthicalAds to fund its large developer community and make the project sustainable.</p>
          {% endif %}

          <!-- Link -->
          <a href="/publishers/dailydev/">{% if short %}daily.dev{% else %}Learn more{% endif %} &raquo;</a>

        </div>
      </div>

    </div><!-- /.col-md-4 -->

    <div class="col-lg-4 col-md-6 mb-3 mb-5 mb-lg-0">

      <div class="card card-border shadow-light-lg" style="border-top-color: #111;">
        <div class="card-body text-center">

          <!-- Icon -->
          <div class="img-fluid mb-5 mx-auto">
            <a href="https://flask.palletsprojects.com/">
              <img src="/theme/img/flask.png" alt="Flask" style="height: 100px" />
            </a>
          </div>

          {% if not short %}
            <!-- Text -->
            <p class="text-gray-700 mb-5 small">Flask is one of the most popular Python web development frameworks. They use our EthicalAds to get funding for their community to maintain their software.</p>
          {% endif %}

          <!-- Link -->
          <a href="/publishers/pallets/">{% if short %}Flask{% else %}Learn more{% endif %} &raquo;</a>

        </div>
      </div>
    </div><!-- /.col-md-4 -->

  </div><!-- /.row -->

  {% if prospectus %}
    <p class="mt-6 text-center">See our <a href="/prospectus/ethicalads-publisher-prospectus.pdf">publisher prospectus</a> for more information on becoming a publisher.</p>
  {% endif %}

</section><!-- /.container -->
