<!-- Publisher Examples
================================================== -->

<section class="container marketing py-10 text-center">

  <h2 class="font-weight-bold mb-8">Some of our publishers</h2>

  <p class="font-size-lg text-gray-800 w-75 mx-auto mb-7 mb-md-9">Learn about how we help developers monetize their project and keep their development efforts sustainable.</p>

  <!-- Three columns of text below the carousel -->
  <div class="row">

    <div class="col-lg-4 col-md-6 mb-3 mb-5 mb-lg-0">

      <div class="card card-border shadow-light-lg" style="border-top-color: #FFEB3B;">
        <div class="card-body text-center">

          <!-- Icon -->
          <div class="img-fluid mb-5 w-50 mx-auto">
            <a href="https://jsbin.com/">
              <img src="/theme/img/jsbin.svg" alt="JSBin" style="height: 100px" />
            </a>
          </div>

          <!-- Text -->
          <p class="text-gray-700 mb-5 small">JSBin is a live-updating text editor for Javascript. They use our fixed footer text ad to help make their open source project sustainable.</p>

        </div>
      </div>
    </div><!-- /.col-md-4 -->

    <div class="col-lg-4 col-md-6 mb-3 mb-5 mb-lg-0">

      <div class="card card-border shadow-light-lg" style="border-top-color: #8ECC4C;">
        <div class="card-body text-center">

          <!-- Icon -->
          <div class="img-fluid mb-5 w-50 mx-auto">
            <a href="https://readthedocs.org">
              <img src="/theme/img/readthedocs-logo.svg" alt="Read the Docs" style="height: 100px" />
            </a>
          </div>

          <!-- Text -->
          <p class="text-gray-700 mb-5 small">Read the Docs is the largest open source documentation hosting site. We use ethicalads to make our site sustainable.</p>

          <!-- Link -->
          <a href="/publishers/readthedocs/">Learn more &raquo;</a>

        </div>
      </div>

    </div><!-- /.col-md-4 -->

    <div class="col-lg-4 col-md-6 mb-3 mb-5 mb-lg-0">

      <div class="card card-border shadow-light-lg" style="border-top-color: #111;">
        <div class="card-body text-center">

          <!-- Icon -->
          <div class="img-fluid mb-5 mx-auto">
            <a href="https://flask.palletsprojects.com/">
              <img src="/theme/img/flask.png" alt="Flask" style="height: 100px" />
            </a>
          </div>

          <!-- Text -->
          <p class="text-gray-700 mb-5 small">Flask is one of the most popular Python web development frameworks. They use our image ad in their sidebar to get funding for their community to maintain their software.</p>

        </div>
      </div>
    </div><!-- /.col-md-4 -->

  </div><!-- /.row -->

  {% if prospectus %}
    <p class="mt-6 text-center">See our <a href="/prospectus/ethicalads-publisher-prospectus.pdf">publisher prospectus</a> for more information on becoming a publisher.</p>
  {% endif %}

</section><!-- /.container -->
