<!-- Publisher Examples
================================================== -->

<section class="container marketing py-10">

  <h2 class="text-center font-weight-bold mb-8">Some of our publishers</h2>

  <!-- Three columns of text below the carousel -->
  <div class="row">

    <div class="col-md-4 mb-3 mb-5 mb-md-0">
      <div class="text-center mb-3">
        <a href="https://jsbin.com/">
          <img src="/theme/img/jsbin.svg" alt="JSBin" style="height: 100px" />
        </a>
      </div>

      <p class="text-center w-75 mx-auto">
        JSBin is a live-updating text editor for Javascript. They use our fixed footer text ad to help make their open source project sustainable.
      </p>
    </div><!-- /.col-md-4 -->

    <div class="col-md-4 mb-3 mb-5 mb-md-0">
      <div class="text-center mb-3">
        <a href="https://codetheweb.blog/">
          <img src="/theme/img/codetheweb.svg" alt="Code the Web" style="height: 100px" />
        </a>
      </div>

      <p class="text-center w-75 mx-auto">
        Code the Web teaches people how to create content on the web. They use our text ad in their sidebar to monetize this content and keep producing.
      </p>
    </div><!-- /.col-md-4 -->

    <div class="col-md-4 mb-3 mb-5 mb-md-0">
      <div class="text-center mb-3">
        <a href="https://flask.palletsprojects.com/">
          <img src="/theme/img/flask.png" alt="Flask" style="height: 100px" />
        </a>
      </div>

      <p class="text-center w-75 mx-auto">
        Flask is one of the most popular Python web development frameworks. They use our image ad in their sidebar to get funding for their community to maintain their software.
      </p>
    </div><!-- /.col-md-4 -->
  </div><!-- /.row -->

</section><!-- /.container -->
