<!-- Python Publisher Icons
================================================== -->

<div class="advertiser-icons text-center">

  <div class="row">

    <div class="col-lg-3 col-md-4 col-6 p-5">
      <div class="img-fluid mx-auto my-auto">
        <img src="/theme/img/flask.png" alt="Flask" />
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-6 p-5">
      <div class="img-fluid mx-auto my-auto">
        <img src="/images/pages/testimonials/readthedocs-wordmark-dark.svg" alt="Read the Docs" />
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-6 p-5">
      <div class="img-fluid mx-auto my-auto">
        <img src="/theme/img/celery.png" alt="Celery" />
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-6 p-5">
      <div class="img-fluid mx-auto my-auto">
        <img src="/theme/img/pylons.svg" alt="Pylons" />
      </div>
    </div>

  </div><!-- /.row -->

</div>
