<!-- Web Dev Publisher Icons
================================================== -->

<div class="advertiser-icons text-center">

  <div class="row">

    <div class="col-lg-3 col-md-4 col-6 p-5">
      <div class="img-fluid mx-auto my-auto">
        <img src="/images/pages/testimonials/dailydev.png" alt="Daily.Dev" />
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-6 p-5">
      <div class="img-fluid mx-auto my-auto">
        <img src="/images/pages/testimonials/readthedocs-wordmark-dark.svg" alt="Read the Docs" />
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-6 p-5">
      <div class="img-fluid mx-auto my-auto">
        <img src="/theme/img/routinehub.svg" alt="Routine Hub" />
      </div>
      <p class="small text-muted">
        Routine Hub
      </p>
    </div>

    <div class="col-lg-3 col-md-4 col-6 p-5">
      <div class="img-fluid mx-auto my-auto">
        <img src="/theme/img/jsbin.svg" alt="Jsbin" />
      </div>
      <p class="small text-muted">
        JS Bin
      </p>
    </div>


  </div><!-- /.row -->

</div>
